{% extends 'layouts/main.html' %}
{% block title %}Vehicle Models{% endblock %}
{% block content %}

<div class="page-header">
    <h1>APO Management</h1>
</div>

<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-car" aria-hidden="true"></i> Vehicle Models <span class="badge">{{carModels|length}}</span> <a href="{{ url_for('apomanagement.addCarModel') }}" title="Add Vehicle Model"><i class="fa fa-plus pull-right"></i></a></div>
            <table class="table table-striped table-hover tablesorter">
                <thead>
                    <th>
                        Identifier
                    </th>
                    <th>
                        Name
                    </th>
                    <th style="text-align:center" class="filter-false sorter-false">
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for item in carModels %}
                        <tr>
                            <td>{{ item.modelType }}</td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td style="text-align:center">
                                <a href="{{ url_for('apomanagement.editCarModel', modelType=item.modelType) }}" title="Edit Vehicle Model">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
