{% extends 'layouts/main.html' %}
{% block title %}Labor Operations{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Labor Operations</h1>
</div>
<div class="row">
    <div class="row">
        <div class="container col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-wrench" aria-hidden="true"></i> Labor Operations <span class="badge">{{operations|length}}</span> <a href="{{ url_for('apomanagement.addLaborOperation') }}" title="Add Labor Operation Model"><i class="fa fa-plus pull-right"></i></a></div>
                <table class="table table-striped table-hover tablesorter">
                    <thead>
                        <th>
                            ID
                        </th>
                        <th style="text-align:center">
                            Name
                        </th>
                    </thead>
                    <tbody>
                        {% for item in operations %}
                            <tr>
                                <td>{{ item.operationId }}</td>
                                <td>
                                    {{ item.name }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
