{% extends 'layouts/main.html' %}
{% block title %}Edit Calendar{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
        {% import 'macros/form.html' as form_macros with context %}
        {{
            form_macros.render_form_panel(
                form,
                heading='Edit Calendar',
                action_url=url_for('calendarmanagement.edit', calendarNumber=form_calendar_id),
                action_text='Save',
                panel_icon_class='fa fa-calendar',
                fieldlist_labels={'repeatingEntries': 'Repeating Entries'},
                fieldlist_add_urls={'repeatingEntries': url_for('calendarmanagement.addRepeatingEntry', calendarNumber=form_calendar_id)},
                fieldlist_add_forms={'repeatingEntries': repeatingEntryAddForm }
            )
        }}
	</div>
</div>

  
{% endblock %}

{% block bottomJavaScript %}
// Implement Row Deletion Function based on https://gist.github.com/kageurufu/6813878
$(function() {
    $("a[data-toggle=fieldset-remove-row]").click(function() {
        var thisRow = $(this).closest("tr");
        thisRow.remove();
        alert("Note that the deletion only takes effect, once you have saved.");
    }); //End remove row
});
{% endblock %}