{% extends 'layouts/main.html' %}
{% block title %}Add Calendar{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        {% import 'macros/form.html' as form_macros with context %}
        {{ form_macros.render_form_panel(form, heading='Add Calendar', action_url=url_for('calendarmanagement.add'), action_text='Save', panel_icon_class='fa fa-calendar') }}
	</div>
</div>
{% endblock %}
