{% extends 'layouts/main.html' %}
{% block title %}Add Calendar{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        {% import 'macros/form.html' as form_macros %}
        {{ form_macros.render_form_panel(form, heading='Add Repeating Entry', action_url=url_for('calendarmanagement.addRepeatingEntry', calendarNumber=form_calendar_id), action_text='Add', panel_icon_class='fa fa-calendar') }}
	</div>
</div>
  
{% endblock %}
