<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
{% assets
    filters="cssmin",
    output="gen/css_libs.css",
    "css/font-awesome.min.css",
    "css/bootstrap-3.3.7.min.css",
    "css/bootstrap-theme-3.3.7.min.css",
    "css/layout.main.css",
    "css/select2-4.0.3.min.css",
    "css/bootstrap-datetimepicker-4.17.45.min.css",
    "css/bootstrap-slider-9.7.0.min.css",
    "css/tablesorter.theme.bootstrap_3.css",
    "css/dygraphs-2.0.0.css"
%}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/porsche.ico">
<!-- /favicons -->

<!-- scripts -->
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body class="form-only-page">

  <div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-block alert-{{category}} fade in">
                <a class="close" data-dismiss="alert">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div style="width:100%; height:30px"></div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			{% block content %}{% endblock %}
		</div>
	</div>
  </div>
{% assets
    filters="jsmin",
    output="gen/js_libs_minconfig.js",
    "js/libs/jquery-1.11.1.min.js",
    "js/libs/bootstrap-3.1.1.min.js"
%}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
{% endassets %}


</body>
</html>
