 <!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %} [{{ current_user.name }}]</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
{% assets
    filters="cssmin",
    output="gen/css_libs.css",
    "css/font-awesome.min.css",
    "css/bootstrap-3.3.7.min.css",
    "css/bootstrap-theme-3.3.7.min.css",
    "css/layout.main.css",
    "css/select2-4.0.3.min.css",
    "css/bootstrap-datetimepicker-4.17.45.min.css",
    "css/bootstrap-slider-9.7.0.min.css",
    "css/tablesorter.theme.bootstrap_3.css",
    "css/dygraphs-2.0.0.css"
%}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
<style>
    {% block extraCSS %}{% endblock %}
</style>



<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/porsche.ico">

<!-- scripts -->
<!-- load jQuery/D3 to run code within page -->
{% assets
    filters="jsmin",
    output="gen/js_upfront.js",
    "js/libs/jquery-1.11.1.min.js",
    "js/libs/d3-4.6.0.min.js",
    "js/libs/modernizr-2.8.2.min.js"
%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="/static/img/Porsche_wordmark.png" style="height:10px"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
                <a href="{{ url_for('shopfloormanagement.index') }}" title="Shop Floor Overview">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    Workshop
                </a>
            </li>
            {% if current_user.role == 'Manager' %}
                <li>
                    <a href="{{ url_for('shopfloormanagement.showStatistics') }}" title="Statistics">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        Statistics
                    </a>
                </li>
            {% endif %}
            {% if current_user.is_admin %}
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li class="dropdown-header">General Administration</li>
					<li>
						<a href="{{ url_for('usermanagement.index') }}" title="User Administration">
							<i class="fa fa-users" aria-hidden="true"></i>
							User Administration
						</a>
					</li>
                    <li>
						<a href="{{ url_for('machinemanagement.index') }}" title="Machine Administration">
							<i class="fa fa-cog" aria-hidden="true"></i>
							Workplace Administration
						</a>
					</li>
					<li>
						<a href="{{ url_for('calendarmanagement.index') }}" title="Calendar Administration">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							Calendar Administration
						</a>
					</li>
					<li class="divider"></li>
					<li class="dropdown-header">APOS Administration</li>
					<li>
						<a href="{{ url_for('apomanagement.indexCarModel') }}" title="Vehicle Models">
							<i class="fa fa-car" aria-hidden="true"></i>
							Vehicle Models
						</a>
					</li>
					<li>
						<a href="{{ url_for('apomanagement.indexLaborOperation') }}" title="Vehicle Models">
							<i class="fa fa-wrench" aria-hidden="true"></i>
							Labor Operations
						</a>
					</li>
                    <li class="divider"></li>
					<li class="dropdown-header">Database Operations</li>
                    <li>
						<a href="{{ url_for('apomanagement.updateAPOS') }}" title="Update APOS">
							<i class="fa fa-upload" aria-hidden="true"></i>
							Update APOS from ZIP-File
						</a>
                        <a href="{{ url_for('main.restore') }}" title="Restore from Database">
							<i class="fa fa-database" aria-hidden="true"></i>
							Restore Previous Database
						</a>
					</li>
					<li class="divider"></li>
					<li class="dropdown-header">Simulation Provider</li>
					<li>
						<a href="{{ url_for('simulationmanagement.index') }}" title="Simulation Provider">
							<i class="fa fa-laptop" aria-hidden="true"></i> Simulation Provider
						</a>
					</li>
                    <li class="divider"></li>
					<li class="dropdown-header">Settings</li>
					<li>
						<a href="{{ url_for('settingmanagement.index') }}" title="Settings">
							<i class="fa fa-cog" aria-hidden="true"></i> Settings
						</a>
					</li>
				  </ul>
				</li>
			{% endif %}

				
			</li>
			
			
          </ul>
          <ul class="nav navbar-nav pull-right">
            {% if current_user.is_admin %}
                <li>
                    <a href="{{ url_for('main.backup') }}">
                        <i class="fa fa-database" aria-hidden="true" title="Backup Database"></i> <span class="sr-only">Backup Database</span>
                    </a>
                </li>
            {% endif %}
			<li><a href="{{ url_for('usermanagement.edit', userNumber=current_user.id) }}"><i class="fa fa-user" aria-hidden="true" title="Edit My Account"></i> <span class="sr-only">Edit my Account</span></a></li>
            <li>
				<a href="{{ url_for('main.logout') }}" title="Logout">
					<i class="fa fa-sign-out" aria-hidden="true" title="Logout"></i>
					<span class="sr-only">Logout</span>
				</a>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">
        <a name="top"></a>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}                  
                    <div class="alert alert-block alert-{{category}} fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      
    </main>
	
	

	</div>
	<!--<footer class="footer" id="footer">
		<div class="container">
		  <p class="text-muted">Jacobs University Bremen gGmbH &copy; 2017, All Rights Reserved.</p>
		  {% block footer %}{% endblock %}
		</div>
	</footer >-->

	<!-- Modal Window to confirm deletions. Based on http://stackoverflow.com/a/8983053 -->
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					Confirm Record Deletion
				</div>
				<div class="modal-body">
					You are about to delete a record. This step cannot be undone. Do you want to continue?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<a class="btn btn-danger btn-ok">Delete</a>
				</div>
			</div>
		</div>
	</div>
</body>
{% assets
    filters="jsmin",
    output="gen/js_libs_defered.js",
    "js/libs/select2-4.3.0.full.min.js",
    "js/libs/bootstrap.collapse-3.3.7.js",
    "js/libs/bootstrap.transition-3.3.7.js",
    "js/libs/bootstrap-3.1.1.min.js",
    "js/libs/moment-with-locales-2.17.1.js",
    "js/libs/bootstrap-datetimepicker-4.17.45.min.js",
    "js/libs/bootstrap-slider-9.7.0.min.js",
    "js/libs/dygraphs-2.0.0.min.js",
    "js/libs/tablesorter-2.28.10.combined.js"
%}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
{% endassets %}


{% assets
    filters="jsmin",
    output="gen/js_custom_defered.js",
    "js/plugins.js",
    "js/script.js"
%}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
{% endassets %}
  <script>
    //reference: https://media.readthedocs.org/pdf/flask-wtf/v0.12/flask-wtf.pdf
    let csrftoken = "{{ csrf_token() }}";
    let api = "{{request.host_url}}"

    function setupAjax() {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                //References: https://flask-wtf.readthedocs.io/en/v0.12/csrf.html, https://media.readthedocs.org/pdf/flask-wtf/v0.12/flask-wtf.pdf
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    };
  
	$(function(){
        setupAjax();
        // Modal Forms created within other forms have to be moved and appended to the body tag
        $(".modal.append-to-body").each(function(i, item){
            item = $(item);
            // move outside of other form
            item.appendTo("body");
            // Wrap content in form tag 
            item.contents().wrap('<form method=\"' + item.attr('data-method') + '\" action=\"' + item.attr('data-action-url') + '\"></form>');
            
        });
    
		// Arm the Deletion confirmation modal, http://stackoverflow.com/a/8983053
		$('#confirm-delete').on('show.bs.modal', function(e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
		});
        
        // Show popovers on help-elements
        $('[data-toggle="popover"]').popover({placement: 'bottom', container: 'body'});
		
        // Function translates a date format string s used in python (and d3.js) to one that uses the moments.js notation
        pythonToMomentsDateFormatConversion = function(s) {
            // Conversion dictionary
            d = {
                '%a': 'ddd',
                '%A': 'dddd',
                '%d': 'DD',
                '%Y': 'Y',
                '%p': 'a',
                '%H': 'HH',
                '%I': 'hh',
                '%M': 'mm',
                '%m': 'MM',
                '%S': 'ss'
            }
            for (k in d)
                s = s.replace(k, d[k]);
            return s;
        }     
        
		// Instantiate Datetimepicker fields
		$('.datetimepicker').each(function(){
            // convert python datetime string to moments js format
			$(this).datetimepicker({
				format: pythonToMomentsDateFormatConversion($(this).find("input").attr('format'))
			});
		});
		
		// Instantiate slider
		$('.slider').each(function(){
            // If slider is between 0 and 1, format numbers as percent
            if($(this).attr('min') == 0 && $(this).attr('max') == 1)
                formattingFunction = function(value) {
					return 100*value + '%';
				}
            else // otherwise just show normal numbers
                formattingFunction = function(value) {
					return value;
				}
			$(this).slider({
				formatter: formattingFunction,
				step: $(this).attr('step'),
				min: $(this).attr('min'),
				max: $(this).attr('max')
			});
		});

		// Transform normal SELECT Fields into Select2 Fields where requested
		$(".select2-transform").each(function(){
			// we have to set the dropdownParent property dependent on whether the box is in a modal (https://select2.github.io/options.html#im-using-a-bootstrap-modal-and-i-cant-use-the-search-box)
			if ($(this).parents('div.modal').length)
				var dropdownParent = $($(this).parents('div.modal')[0]);
			else
				var dropdownParent = $("body");
			$(this).select2({
				width: '100%',
				dropdownParent: dropdownParent
			});
			}
		);
	
		// Instantiate Ajax Select2 Fields
		$(".select2-ajax").each(function(){
			// we have to set the dropdownParent property dependent on whether the box is in a modal (https://select2.github.io/options.html#im-using-a-bootstrap-modal-and-i-cant-use-the-search-box)
			if ($(this).parents('div.modal').length)
				var dropdownParent = $($(this).parents('div.modal')[0]);
			else
				var dropdownParent = $("body");
			// Now initiate the Transformation
			$(this).select2(
				{
					width: '100%',
					dropdownParent: dropdownParent,
					dataType: 'json',
					delay: 250,
					minimumResultsForSearch: 1,
					ajax: {
						data: function (params) {
						  return {
							q: params.term, // search term
							page: params.page
						  };
						},
						processResults: function (data, params) {
						  // parse the results into the format expected by Select2
						  // since we are using custom formatting functions we do not need to
						  // alter the remote JSON data, except to indicate that infinite
						  // scrolling can be used
						  params.page = params.page || 1;

						  return {
							results: data.items,
							pagination: {
							  more: (params.page * 20) < data.total_count
							}
						  };
						},
						cache: true
					},
					templateResult: function(entry) {
						if (entry.loading) return entry.text;
						return entry.name || entry.text;
					},
					templateSelection: function(entry) {
						return entry.name || entry.text;  // || provides fallback for existing select entries to format correctly
					}
				});
				// bind change function to select event. This is necessary to copy the selected value into the original SELECT Tag
				$(this).on('select2:select', function (evt) {
					$(this).trigger('change');
				});
			}
		);
        
        // Instantiate file upload fields, based on 
        $(document).on('change', ':file', function() {
            var input = $(this);
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            var output = input.parents('.input-group').find(':text');
            output.val(label);
        });
        
        
        // Define date parser that works with the datetime format defined in the settings
        // add parser through the tablesorter addParser method
        $.tablesorter.addParser({
            // set a unique id
            id: 'pythonDatetime',
            is: function(s, table, cell, $cell) {
                // return false so this parser is not auto detected
                return false;
            },
            format: function(s, table, cell, cellIndex) {
                // format your data for normalization
                return d3.utcParse("{{ formatString['datetime'] }}")(s);
            },
            // set type, either numeric or text
            type: 'numeric'
        });
        
        // Define date parser that parses two integers out of text and calculates the ratio
        $.tablesorter.addParser({
            // set a unique id
            id: 'ratioOfIntegers',
            is: function(s, table, cell, $cell) {
                // return false so this parser is not auto detected
                return false;
            },
            format: function(s, table, cell, cellIndex) {
                // extract integers as array
                a = s.match(/\d+/g).map(Number)
                
                return a[0]/a[1];
            },
            // set type, either numeric or text
            type: 'numeric'
        });
        
        // Start table sorters
        $(".tablesorter").each(function() {
            $(this).tablesorter({
                theme : "bootstrap",
                //dateFormat: pythonToMomentsDateFormatConversion('{{ formatString['datetime'] }}'),
                dateFormat: 'ddmmyyyy',
                widgets : ["uitheme", "filter", "columns", "zebra", "group", "stickyHeaders"],
                headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
                widgetOptions: {
                    stickyHeaders_offset: $(".navbar-fixed-top").height() + 'px' // to account for Bootstrap nav bar 
                }
            });
        });
	});
	{% block bottomJavaScript %}{% endblock %}
  </script>


</html>
