{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>User &amp; Group Management</h1>
</div>
<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> Registered Users <span class="badge">{{users|length}}</span> <a href="{{ url_for('usermanagement.add') }}" title="Add User"><i class="fa fa-user-plus pull-right"></i></a></div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>
                        Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>Shop Calendar</th>
                    <th>
                        Technician Groups
                    </th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for item in users %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>
                                {% if (item.role == 'Manager' or item.role == 'Technician') %}
                                    {{ item.role }}
                                {% elif item.role == 'ServiceAdvisor' %}
                                    Service Advisor
                                {% else %}
                                    Service Assistant
                                {% endif %}
                            </td>
                            <td><i class="fa {%if item.shopCalendar %}fa-check{%else%}fa-times{%endif%}"</i></td>
                            <td>
                                <ul>
                                    {% for g in item.groups %}
                                        <li>
                                            {{ g.name }}
                                            <a href="{{ url_for('usermanagement.editGroup', groupNumber=g.id) }}" title="Edit Group">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td style="text-align:center">
                                <a href="{{ url_for('usermanagement.edit', userNumber=item.id) }}" title="Edit User">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                {% if item.id != current_user.id %}
                                    <a href="#" data-href="{{ url_for('usermanagement.delete', userNumber=item.id) }}" title="Delete User" data-toggle="modal" data-target="#confirm-delete">
                                        <span class="text-danger"><i class="fa fa-trash deleteLink" aria-hidden="true"></i></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{# Add Group Form #}
{% import 'macros/form.html' as form_macros %}
{{ 
    form_macros.render_form_modal(
        groupAddForm,
        heading='Add Group',
        modalId='groupAddForm',
        action_url=url_for('usermanagement.addGroup'),
        action_text='Add'
    )
}}
<div class="row>
	<div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users" aria-hidden="true"></i> Technician Groups <span class="badge">{{groups|length}}</span>
                <a href="#" data-toggle="modal" data-target="#groupAddForm"><i class="fa fa-plus pull-right"></i></a>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>
                        Name
                    </th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for item in groups %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td style="text-align:center">
                                <a href="{{ url_for('usermanagement.editGroup', groupNumber=item.id) }}" title="Edit Group">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a href="#" data-href="{{ url_for('usermanagement.deleteGroup', groupNumber=item.id) }}" title="Delete Group" data-toggle="modal" data-target="#confirm-delete">
                                    <span class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>	
</div>

{% endblock %}
