{% extends 'layouts/main.html' %}
{% block title %}Update APOS{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <div class="well">
            <p>Note: Updating the APOS Database will take about 1-2 hours and will block all simulation runs requested in that time period and writing to the database may fail.</p>
            <p>Make sure you update the APOS Database over night or during hours of no activity in the shop.</p>
        </div>
        {% import 'macros/form.html' as form_macros %}
        {{ form_macros.render_form_panel(form, heading='Update APOS Data', action_url=url_for('apomanagement.updateAPOS'), action_text='Upload', panel_icon_class='fa fa-upload') }}
	</div>
</div>  
{% endblock %}
