{% extends 'layouts/main.html' %}
{% block title %}Add Vehicle Model{% endblock %}
{% block content %}
{% import 'macros/form.html' as form_macros with context %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        {{
            form_macros.render_form_panel(
                form,
                heading='Add Vehicle Model',
                action_url=url_for('apomanagement.addCarModel'),
                action_text='Add',
                panel_icon_class='fa fa-car'
            )
        }}
	</div>
</div>
  
 {% for field in form.errors %}
	{% for error in form.errors[field] %}
		<div class="alert alert-error">
			<strong>Error!</strong> {{error}}
		</div>
	{% endfor %}
{% endfor %}
  
{% endblock %}
