{% extends 'layouts/main.html' %}
{% block title %}Edit Vehicle Model{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	  <form method="post" class="form" action="{{ url_for('apomanagement.editCarModel', modelType=form_model_type) }}">
		<h3 class="form-heading">Edit Vehicle Model</h3>
		<div class="form-group">
			<label for="modelType">Model Type</label>
			<input class="form-control" disabled="" value="{{form_model_type}}" id="modelType"/>
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			{{ form.name(class_ = 'form-control first-input', id_ = 'name', placeholder = form.name.label.text, required = true, autofocus = true) }}
		</div>
		<div class="form-group">
			<label>Registered Plan Times</label>
			<table class="table table-striped">
				<thead>
					<th>
						Year
					</th>
					<th>
						Labor Operation
					</th>
					<th>
						Plan Time
					</th>
					<th>
						
					</th>
				</thead>
				<tbody data-toggle="fieldset" id="planTimesFieldSet">
					{% for planTime in item.planTimes %}
						<tr data-toggle="fieldset-entry">
							<td>{{ planTime.year }}</td>
							<td>{{ planTime.laborOperation.operationId }}: {{ planTime.laborOperation.name }}</td>
							<td>{{ planTime.planTime }}</td>
							<td>
								<a href="#" data-href="{{ url_for('apomanagement.deletePlanTime', planTimeNumber=planTime.id) }}" title="Delete Plantime" data-toggle="modal" data-target="#confirm-delete">
								<span class="text-danger"><i class="fa fa-trash deleteLink" aria-hidden="true"></i></span>
							</a>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4">
							<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addEntryModal">+ Add Entry</button>
						</td>
					</tr>
				</tbody>
			</table>		
		</div>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="submit" value="Submit" class="btn btn-primary btn-lg">
		<input type="reset" value="Reset" class="btn btn-warning btn-lg">
	  </form>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addEntryModal">
	<form method="post" class="form"  action="{{ url_for('apomanagement.addPlanTime', modelType=form_model_type) }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Entry</h4>
			</div>
			<div class="modal-body">
				
					<div class="form-group">
						<label for="carModel">Vehicle Model</label>
						<input class="form-control first-input" disabled="disabled" value="{{ form_model_type }}"/>
						<input type="hidden" name="carModel" id="carModel" value="{{ form_model_type }}"/>
					</div>
					<div class="form-group">
						<label for="year">Year</label>
						{{ entryAddForm.year(class_ = 'form-control first-input select2-transform', id_ = 'year', placeholder = entryAddForm.year.label.text, required = true) }}
					</div>
					<div class="form-group">
						<label for="laborOperation">Labor Operation</label>
						{{ entryAddForm.laborOperation(class_ = 'form-control', id_ = 'laborOperation', placeholder = entryAddForm.laborOperation.label.text, required = true) }}
					</div>
					<div class="form-group">
						<label for="planTime">Plan Time</label>
						{{ entryAddForm.planTime(class_ = 'form-control last-input', id_ = 'planTime', placeholder = entryAddForm.planTime.label.text, required = true) }}
					</div>
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->
  
 {% for field in form.errors %}
	{% for error in form.errors[field] %}
		<div class="alert alert-error">
			<strong>Error!</strong>{{field}}: {{error}}
		</div>
	{% endfor %}
{% endfor %}
  
{% endblock %}

{% block bottomJavaScript %}
{% endblock %}
