{% extends 'layouts/main.html' %}
{% block title %}Add Labor Operation{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	  <form method="post" class="form" action="{{ url_for('apomanagement.addLaborOperation') }}">
		<h3 class="form-heading">Create new Labor Operation</h3>
		<div class="form-group">
			<label for="operationId">Labor Operation</label>
			{{ form.operationId(class_ = 'form-control first-input', id_ = 'operationId', placeholder = form.operationId.label.text, required = true, autofocus = true) }}
		</div>
		<div class="form-group">
			<label for="name">Description</label>
			{{ form.name(class_ = 'form-control first-input', id_ = 'name', placeholder = form.name.label.text, required = true, autofocus = true) }}
		</div>
		
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="submit" value="Submit" class="btn btn-primary btn-lg">
		<input type="reset" value="Reset" class="btn btn-warning btn-lg">
	  </form>
	</div>
</div>
  
 {% for field in form.errors %}
	{% for error in form.errors[field] %}
		<div class="alert alert-error">
			<strong>Error!</strong> {{error}}
		</div>
	{% endfor %}
{% endfor %}
  
{% endblock %}
