{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Calendar Management</h1>
</div>
{# Add Entry Form #}
{% import 'macros/form.html' as form_macros with context %}
{{ 
    form_macros.render_form_modal(
        calendarAddForm,
        heading='Add Calendar',
        modalId='CalendarAddForm',
        action_url=url_for('calendarmanagement.add'),
        action_text='Add'
    )
}}
{{ 
    form_macros.render_form_modal(
        calendarEntryAddForm,
        heading='Add Calendar Entry',
        modalId='CalendarEntryAddForm',
        action_url=url_for('calendarmanagement.addCalendarEntry'),
        action_text='Add'
    )
}}

{% set weekdayNames = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar" aria-hidden="true"></i> Calendars <span class="badge">{{calendars|length}}</span>
                <a href="#" data-toggle="modal" data-target="#CalendarAddForm"><i class="fa fa-calendar-plus-o pull-right"></i></a>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>
                        Name
                    </th>
                    <th>Repeating Availabilities</th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for item in calendars %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>
                                <div class="list-group">
                                    {% for day in item.repeatingEntries|groupby('dayOfWeek') %}
                                        <li href="#" class="list-group-item">
                                            <b>{{ weekdayNames[day.grouper] }}</b>:
                                            <span class="pull-right">
                                            {% for e in day.list %}
                                                {{ e.startTime.strftime(formatString['time']) }} - {{ e.endTime.strftime(formatString['time']) }}{% if not loop.last %} &amp; {%- endif %}
                                            {% endfor %}
                                            </span>
                                        </li>
                                    {% endfor %}
                                </div>
                            </td>
                            <td style="text-align:center">   
                                {% if not item.finalized %}
                                    <a href="{{ url_for('calendarmanagement.edit', calendarNumber=item.id) }}" title="Edit Calendar">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ url_for('calendarmanagement.finalize', calendarNumber=item.id) }}" title="Finalize Calendar">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar" aria-hidden="true"></i> Current &amp; Future Calendar Entries <span class="badge">{{calendarEntries|length}}</span>
                <a href="#" data-toggle="modal" data-target="#CalendarEntryAddForm"><i class="fa fa-plus pull-right"></i></a>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>From</th>
                    <th>Until</th>
                    <th>Type</th>
                    <th>Affected Users</th>
                </thead>
                <tbody>
                    {% for item in calendarEntries %}
                        <tr>
                            <td>{{ item.startDatetime.strftime(formatString['datetime']) }}</td>
                            <td>{{ item.endDatetime.strftime(formatString['datetime']) }}</td>
                            <td>
                                {% if item.present %}
                                    Presence
                                {% else %}
                                    Absence
                                {% endif %}
                            </td>
                            <td>
                                {% for u in item.users %}
                                    {{ u.name }}{% if not loop.last %}, {%- endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
