{% extends 'layouts/main.html' %}
{% block title %}Simulation Providers{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        Simulation Providers
        <a href="{{ url_for('simulationmanagement.spawn') }}" title="Add Simulation Provider">
            <i class="fa fa-plus pull-right"></i>
        </a>
    </h1>
</div>

<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Available Simulation Providers <span class="badge">{{provider|length}}</span>
                <span class="pull-right">
                    <a href="{{ url_for('simulationmanagement.start') }}" title="Rerun Simulations"><i class="fa fa-play"></i></a>
                    <a href="{{ url_for('simulationmanagement.refresh') }}" title="Find Simulation Provider"><i class="fa fa-search"></i></a>
                    <a href="{{ url_for('simulationmanagement.stop') }}" title="Stop all Simulation Providers"><i class="fa fa-stop" aria-hidden="true"></i></a>
                </span>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>
                        Name
                    </th>
                    <th>Status</th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for item in provider %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.status }}</td>
                            <td style="text-align:center">
                                <a href="{{ url_for('simulationmanagement.stop', providerName=item.name) }}" title="Stop current activity">
                                    <i class="fa fa-stop" aria-hidden="true"></i>
                                </a>
                                <a href="{{ url_for('simulationmanagement.shutdown', providerName=item.name) }}" title="Shut down service provider">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
