{% extends 'layouts/main.html' %}
{% block title %}Edit Settings{% endblock %}
{% block content %}
<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cog" aria-hidden="true"></i> Edit Settings
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="well">
                        <p>Note that only one setting can be edited at a time. To change a setting, click the corresponding save button. All other changes will be lost, when saving a particular setting.</p>
                        <p>Date and time formats use the standard Python notation to specify date- and time formats that can be found <a href="https://docs.python.org/2/library/datetime.html#strftime-strptime-behavior" target="_blank">here</a>. To ensure compatability with the frontend, only the following format strings are permitted: <code>%d, %m, %Y, %H, %I, %M, %S, %p</code></p>
                        <p><b>Note that changes to the date-/time format as well as the time zone require a server restart to take full effect.</b></p>
                        <p>
                            To change the time zone, please select a new value from the drop down menu. Then click the save button next to the time zone field on the right.
                            <select id="timeZoneSelector" class="select2-transform">
                                <option>Africa/Abidjan</option>
                                <option>Africa/Accra</option>
                                <option>Africa/Addis_Ababa</option>
                                <option>Africa/Algiers</option>
                                <option>Africa/Asmara</option>
                                <option>Africa/Asmera</option>
                                <option>Africa/Bamako</option>
                                <option>Africa/Bangui</option>
                                <option>Africa/Banjul</option>
                                <option>Africa/Bissau</option>
                                <option>Africa/Blantyre</option>
                                <option>Africa/Brazzaville</option>
                                <option>Africa/Bujumbura</option>
                                <option>Africa/Cairo</option>
                                <option>Africa/Casablanca</option>
                                <option>Africa/Ceuta</option>
                                <option>Africa/Conakry</option>
                                <option>Africa/Dakar</option>
                                <option>Africa/Dar_es_Salaam</option>
                                <option>Africa/Djibouti</option>
                                <option>Africa/Douala</option>
                                <option>Africa/El_Aaiun</option>
                                <option>Africa/Freetown</option>
                                <option>Africa/Gaborone</option>
                                <option>Africa/Harare</option>
                                <option>Africa/Johannesburg</option>
                                <option>Africa/Juba</option>
                                <option>Africa/Kampala</option>
                                <option>Africa/Khartoum</option>
                                <option>Africa/Kigali</option>
                                <option>Africa/Kinshasa</option>
                                <option>Africa/Lagos</option>
                                <option>Africa/Libreville</option>
                                <option>Africa/Lome</option>
                                <option>Africa/Luanda</option>
                                <option>Africa/Lubumbashi</option>
                                <option>Africa/Lusaka</option>
                                <option>Africa/Malabo</option>
                                <option>Africa/Maputo</option>
                                <option>Africa/Maseru</option>
                                <option>Africa/Mbabane</option>
                                <option>Africa/Mogadishu</option>
                                <option>Africa/Monrovia</option>
                                <option>Africa/Nairobi</option>
                                <option>Africa/Ndjamena</option>
                                <option>Africa/Niamey</option>
                                <option>Africa/Nouakchott</option>
                                <option>Africa/Ouagadougou</option>
                                <option>Africa/Porto-Novo</option>
                                <option>Africa/Sao_Tome</option>
                                <option>Africa/Timbuktu</option>
                                <option>Africa/Tripoli</option>
                                <option>Africa/Tunis</option>
                                <option>Africa/Windhoek</option>
                                <option>America/Adak</option>
                                <option>America/Anchorage</option>
                                <option>America/Anguilla</option>
                                <option>America/Antigua</option>
                                <option>America/Araguaina</option>
                                <option>America/Argentina/Buenos_Aires</option>
                                <option>America/Argentina/Catamarca</option>
                                <option>America/Argentina/ComodRivadavia</option>
                                <option>America/Argentina/Cordoba</option>
                                <option>America/Argentina/Jujuy</option>
                                <option>America/Argentina/La_Rioja</option>
                                <option>America/Argentina/Mendoza</option>
                                <option>America/Argentina/Rio_Gallegos</option>
                                <option>America/Argentina/Salta</option>
                                <option>America/Argentina/San_Juan</option>
                                <option>America/Argentina/San_Luis</option>
                                <option>America/Argentina/Tucuman</option>
                                <option>America/Argentina/Ushuaia</option>
                                <option>America/Aruba</option>
                                <option>America/Asuncion</option>
                                <option>America/Atikokan</option>
                                <option>America/Atka</option>
                                <option>America/Bahia</option>
                                <option>America/Bahia_Banderas</option>
                                <option>America/Barbados</option>
                                <option>America/Belem</option>
                                <option>America/Belize</option>
                                <option>America/Blanc-Sablon</option>
                                <option>America/Boa_Vista</option>
                                <option>America/Bogota</option>
                                <option>America/Boise</option>
                                <option>America/Buenos_Aires</option>
                                <option>America/Cambridge_Bay</option>
                                <option>America/Campo_Grande</option>
                                <option>America/Cancun</option>
                                <option>America/Caracas</option>
                                <option>America/Catamarca</option>
                                <option>America/Cayenne</option>
                                <option>America/Cayman</option>
                                <option>America/Chicago</option>
                                <option>America/Chihuahua</option>
                                <option>America/Coral_Harbour</option>
                                <option>America/Cordoba</option>
                                <option>America/Costa_Rica</option>
                                <option>America/Creston</option>
                                <option>America/Cuiaba</option>
                                <option>America/Curacao</option>
                                <option>America/Danmarkshavn</option>
                                <option>America/Dawson</option>
                                <option>America/Dawson_Creek</option>
                                <option>America/Denver</option>
                                <option>America/Detroit</option>
                                <option>America/Dominica</option>
                                <option>America/Edmonton</option>
                                <option>America/Eirunepe</option>
                                <option>America/El_Salvador</option>
                                <option>America/Ensenada</option>
                                <option>America/Fort_Wayne</option>
                                <option>America/Fortaleza</option>
                                <option>America/Glace_Bay</option>
                                <option>America/Godthab</option>
                                <option>America/Goose_Bay</option>
                                <option>America/Grand_Turk</option>
                                <option>America/Grenada</option>
                                <option>America/Guadeloupe</option>
                                <option>America/Guatemala</option>
                                <option>America/Guayaquil</option>
                                <option>America/Guyana</option>
                                <option>America/Halifax</option>
                                <option>America/Havana</option>
                                <option>America/Hermosillo</option>
                                <option>America/Indiana/Indianapolis</option>
                                <option>America/Indiana/Knox</option>
                                <option>America/Indiana/Marengo</option>
                                <option>America/Indiana/Petersburg</option>
                                <option>America/Indiana/Tell_City</option>
                                <option>America/Indiana/Vevay</option>
                                <option>America/Indiana/Vincennes</option>
                                <option>America/Indiana/Winamac</option>
                                <option>America/Indianapolis</option>
                                <option>America/Inuvik</option>
                                <option>America/Iqaluit</option>
                                <option>America/Jamaica</option>
                                <option>America/Jujuy</option>
                                <option>America/Juneau</option>
                                <option>America/Kentucky/Louisville</option>
                                <option>America/Kentucky/Monticello</option>
                                <option>America/Knox_IN</option>
                                <option>America/Kralendijk</option>
                                <option>America/La_Paz</option>
                                <option>America/Lima</option>
                                <option>America/Los_Angeles</option>
                                <option>America/Louisville</option>
                                <option>America/Lower_Princes</option>
                                <option>America/Maceio</option>
                                <option>America/Managua</option>
                                <option>America/Manaus</option>
                                <option>America/Marigot</option>
                                <option>America/Martinique</option>
                                <option>America/Matamoros</option>
                                <option>America/Mazatlan</option>
                                <option>America/Mendoza</option>
                                <option>America/Menominee</option>
                                <option>America/Merida</option>
                                <option>America/Metlakatla</option>
                                <option>America/Mexico_City</option>
                                <option>America/Miquelon</option>
                                <option>America/Moncton</option>
                                <option>America/Monterrey</option>
                                <option>America/Montevideo</option>
                                <option>America/Montreal</option>
                                <option>America/Montserrat</option>
                                <option>America/Nassau</option>
                                <option>America/New_York</option>
                                <option>America/Nipigon</option>
                                <option>America/Nome</option>
                                <option>America/Noronha</option>
                                <option>America/North_Dakota/Beulah</option>
                                <option>America/North_Dakota/Center</option>
                                <option>America/North_Dakota/New_Salem</option>
                                <option>America/Ojinaga</option>
                                <option>America/Panama</option>
                                <option>America/Pangnirtung</option>
                                <option>America/Paramaribo</option>
                                <option>America/Phoenix</option>
                                <option>America/Port-au-Prince</option>
                                <option>America/Port_of_Spain</option>
                                <option>America/Porto_Acre</option>
                                <option>America/Porto_Velho</option>
                                <option>America/Puerto_Rico</option>
                                <option>America/Rainy_River</option>
                                <option>America/Rankin_Inlet</option>
                                <option>America/Recife</option>
                                <option>America/Regina</option>
                                <option>America/Resolute</option>
                                <option>America/Rio_Branco</option>
                                <option>America/Rosario</option>
                                <option>America/Santa_Isabel</option>
                                <option>America/Santarem</option>
                                <option>America/Santiago</option>
                                <option>America/Santo_Domingo</option>
                                <option>America/Sao_Paulo</option>
                                <option>America/Scoresbysund</option>
                                <option>America/Shiprock</option>
                                <option>America/Sitka</option>
                                <option>America/St_Barthelemy</option>
                                <option>America/St_Johns</option>
                                <option>America/St_Kitts</option>
                                <option>America/St_Lucia</option>
                                <option>America/St_Thomas</option>
                                <option>America/St_Vincent</option>
                                <option>America/Swift_Current</option>
                                <option>America/Tegucigalpa</option>
                                <option>America/Thule</option>
                                <option>America/Thunder_Bay</option>
                                <option>America/Tijuana</option>
                                <option>America/Toronto</option>
                                <option>America/Tortola</option>
                                <option>America/Vancouver</option>
                                <option>America/Virgin</option>
                                <option>America/Whitehorse</option>
                                <option>America/Winnipeg</option>
                                <option>America/Yakutat</option>
                                <option>America/Yellowknife</option>
                                <option>Antarctica/Casey</option>
                                <option>Antarctica/Davis</option>
                                <option>Antarctica/DumontDUrville</option>
                                <option>Antarctica/Macquarie</option>
                                <option>Antarctica/Mawson</option>
                                <option>Antarctica/McMurdo</option>
                                <option>Antarctica/Palmer</option>
                                <option>Antarctica/Rothera</option>
                                <option>Antarctica/South_Pole</option>
                                <option>Antarctica/Syowa</option>
                                <option>Antarctica/Vostok</option>
                                <option>Arctic/Longyearbyen</option>
                                <option>Asia/Aden</option>
                                <option>Asia/Almaty</option>
                                <option>Asia/Amman</option>
                                <option>Asia/Anadyr</option>
                                <option>Asia/Aqtau</option>
                                <option>Asia/Aqtobe</option>
                                <option>Asia/Ashgabat</option>
                                <option>Asia/Ashkhabad</option>
                                <option>Asia/Baghdad</option>
                                <option>Asia/Bahrain</option>
                                <option>Asia/Baku</option>
                                <option>Asia/Bangkok</option>
                                <option>Asia/Beirut</option>
                                <option>Asia/Bishkek</option>
                                <option>Asia/Brunei</option>
                                <option>Asia/Calcutta</option>
                                <option>Asia/Choibalsan</option>
                                <option>Asia/Chongqing</option>
                                <option>Asia/Chungking</option>
                                <option>Asia/Colombo</option>
                                <option>Asia/Dacca</option>
                                <option>Asia/Damascus</option>
                                <option>Asia/Dhaka</option>
                                <option>Asia/Dili</option>
                                <option>Asia/Dubai</option>
                                <option>Asia/Dushanbe</option>
                                <option>Asia/Gaza</option>
                                <option>Asia/Harbin</option>
                                <option>Asia/Hebron</option>
                                <option>Asia/Ho_Chi_Minh</option>
                                <option>Asia/Hong_Kong</option>
                                <option>Asia/Hovd</option>
                                <option>Asia/Irkutsk</option>
                                <option>Asia/Istanbul</option>
                                <option>Asia/Jakarta</option>
                                <option>Asia/Jayapura</option>
                                <option>Asia/Jerusalem</option>
                                <option>Asia/Kabul</option>
                                <option>Asia/Kamchatka</option>
                                <option>Asia/Karachi</option>
                                <option>Asia/Kashgar</option>
                                <option>Asia/Kathmandu</option>
                                <option>Asia/Katmandu</option>
                                <option>Asia/Kolkata</option>
                                <option>Asia/Krasnoyarsk</option>
                                <option>Asia/Kuala_Lumpur</option>
                                <option>Asia/Kuching</option>
                                <option>Asia/Kuwait</option>
                                <option>Asia/Macao</option>
                                <option>Asia/Macau</option>
                                <option>Asia/Magadan</option>
                                <option>Asia/Makassar</option>
                                <option>Asia/Manila</option>
                                <option>Asia/Muscat</option>
                                <option>Asia/Nicosia</option>
                                <option>Asia/Novokuznetsk</option>
                                <option>Asia/Novosibirsk</option>
                                <option>Asia/Omsk</option>
                                <option>Asia/Oral</option>
                                <option>Asia/Phnom_Penh</option>
                                <option>Asia/Pontianak</option>
                                <option>Asia/Pyongyang</option>
                                <option>Asia/Qatar</option>
                                <option>Asia/Qyzylorda</option>
                                <option>Asia/Rangoon</option>
                                <option>Asia/Riyadh</option>
                                <option>Asia/Saigon</option>
                                <option>Asia/Sakhalin</option>
                                <option>Asia/Samarkand</option>
                                <option>Asia/Seoul</option>
                                <option>Asia/Shanghai</option>
                                <option>Asia/Singapore</option>
                                <option>Asia/Taipei</option>
                                <option>Asia/Tashkent</option>
                                <option>Asia/Tbilisi</option>
                                <option>Asia/Tehran</option>
                                <option>Asia/Tel_Aviv</option>
                                <option>Asia/Thimbu</option>
                                <option>Asia/Thimphu</option>
                                <option>Asia/Tokyo</option>
                                <option>Asia/Ujung_Pandang</option>
                                <option>Asia/Ulaanbaatar</option>
                                <option>Asia/Ulan_Bator</option>
                                <option>Asia/Urumqi</option>
                                <option>Asia/Vientiane</option>
                                <option>Asia/Vladivostok</option>
                                <option>Asia/Yakutsk</option>
                                <option>Asia/Yekaterinburg</option>
                                <option>Asia/Yerevan</option>
                                <option>Atlantic/Azores</option>
                                <option>Atlantic/Bermuda</option>
                                <option>Atlantic/Canary</option>
                                <option>Atlantic/Cape_Verde</option>
                                <option>Atlantic/Faeroe</option>
                                <option>Atlantic/Faroe</option>
                                <option>Atlantic/Jan_Mayen</option>
                                <option>Atlantic/Madeira</option>
                                <option>Atlantic/Reykjavik</option>
                                <option>Atlantic/South_Georgia</option>
                                <option>Atlantic/St_Helena</option>
                                <option>Atlantic/Stanley</option>
                                <option>Australia/ACT</option>
                                <option>Australia/Adelaide</option>
                                <option>Australia/Brisbane</option>
                                <option>Australia/Broken_Hill</option>
                                <option>Australia/Canberra</option>
                                <option>Australia/Currie</option>
                                <option>Australia/Darwin</option>
                                <option>Australia/Eucla</option>
                                <option>Australia/Hobart</option>
                                <option>Australia/LHI</option>
                                <option>Australia/Lindeman</option>
                                <option>Australia/Lord_Howe</option>
                                <option>Australia/Melbourne</option>
                                <option>Australia/NSW</option>
                                <option>Australia/North</option>
                                <option>Australia/Perth</option>
                                <option>Australia/Queensland</option>
                                <option>Australia/South</option>
                                <option>Australia/Sydney</option>
                                <option>Australia/Tasmania</option>
                                <option>Australia/Victoria</option>
                                <option>Australia/West</option>
                                <option>Australia/Yancowinna</option>
                                <option>Brazil/Acre</option>
                                <option>Brazil/DeNoronha</option>
                                <option>Brazil/East</option>
                                <option>Brazil/West</option>
                                <option>Canada/Atlantic</option>
                                <option>Canada/Central</option>
                                <option>Canada/East-Saskatchewan</option>
                                <option>Canada/Eastern</option>
                                <option>Canada/Mountain</option>
                                <option>Canada/Newfoundland</option>
                                <option>Canada/Pacific</option>
                                <option>Canada/Saskatchewan</option>
                                <option>Canada/Yukon</option>
                                <option>Chile/Continental</option>
                                <option>Chile/EasterIsland</option>
                                <option>Cuba</option>
                                <option>Egypt</option>
                                <option>Eire</option>
                                <option>Europe/Amsterdam</option>
                                <option>Europe/Andorra</option>
                                <option>Europe/Athens</option>
                                <option>Europe/Belfast</option>
                                <option>Europe/Belgrade</option>
                                <option>Europe/Berlin</option>
                                <option>Europe/Bratislava</option>
                                <option>Europe/Brussels</option>
                                <option>Europe/Bucharest</option>
                                <option>Europe/Budapest</option>
                                <option>Europe/Chisinau</option>
                                <option>Europe/Copenhagen</option>
                                <option>Europe/Dublin</option>
                                <option>Europe/Gibraltar</option>
                                <option>Europe/Guernsey</option>
                                <option>Europe/Helsinki</option>
                                <option>Europe/Isle_of_Man</option>
                                <option>Europe/Istanbul</option>
                                <option>Europe/Jersey</option>
                                <option>Europe/Kaliningrad</option>
                                <option>Europe/Kiev</option>
                                <option>Europe/Lisbon</option>
                                <option>Europe/Ljubljana</option>
                                <option>Europe/London</option>
                                <option>Europe/Luxembourg</option>
                                <option>Europe/Madrid</option>
                                <option>Europe/Malta</option>
                                <option>Europe/Mariehamn</option>
                                <option>Europe/Minsk</option>
                                <option>Europe/Monaco</option>
                                <option>Europe/Moscow</option>
                                <option>Europe/Nicosia</option>
                                <option>Europe/Oslo</option>
                                <option>Europe/Paris</option>
                                <option>Europe/Podgorica</option>
                                <option>Europe/Prague</option>
                                <option>Europe/Riga</option>
                                <option>Europe/Rome</option>
                                <option>Europe/Samara</option>
                                <option>Europe/San_Marino</option>
                                <option>Europe/Sarajevo</option>
                                <option>Europe/Simferopol</option>
                                <option>Europe/Skopje</option>
                                <option>Europe/Sofia</option>
                                <option>Europe/Stockholm</option>
                                <option>Europe/Tallinn</option>
                                <option>Europe/Tirane</option>
                                <option>Europe/Tiraspol</option>
                                <option>Europe/Uzhgorod</option>
                                <option>Europe/Vaduz</option>
                                <option>Europe/Vatican</option>
                                <option>Europe/Vienna</option>
                                <option>Europe/Vilnius</option>
                                <option>Europe/Volgograd</option>
                                <option>Europe/Warsaw</option>
                                <option>Europe/Zagreb</option>
                                <option>Europe/Zaporozhye</option>
                                <option>Europe/Zurich</option>
                                <option>GB</option>
                                <option>GB-Eire</option>
                                <option>GMT</option>
                                <option>GMT+0</option>
                                <option>GMT-0</option>
                                <option>GMT0</option>
                                <option>Greenwich</option>
                                <option>HST</option>
                                <option>Hongkong</option>
                                <option>Iceland</option>
                                <option>Indian/Antananarivo</option>
                                <option>Indian/Chagos</option>
                                <option>Indian/Christmas</option>
                                <option>Indian/Cocos</option>
                                <option>Indian/Comoro</option>
                                <option>Indian/Kerguelen</option>
                                <option>Indian/Mahe</option>
                                <option>Indian/Maldives</option>
                                <option>Indian/Mauritius</option>
                                <option>Indian/Mayotte</option>
                                <option>Indian/Reunion</option>
                                <option>Iran</option>
                                <option>Israel</option>
                                <option>Jamaica</option>
                                <option>Japan</option>
                                <option>Kwajalein</option>
                                <option>Libya</option>
                                <option>MET</option>
                                <option>MST</option>
                                <option>MST7MDT</option>
                                <option>Mexico/BajaNorte</option>
                                <option>Mexico/BajaSur</option>
                                <option>Mexico/General</option>
                                <option>NZ</option>
                                <option>NZ-CHAT</option>
                                <option>Navajo</option>
                                <option>PRC</option>
                                <option>PST8PDT</option>
                                <option>Pacific/Apia</option>
                                <option>Pacific/Auckland</option>
                                <option>Pacific/Chatham</option>
                                <option>Pacific/Chuuk</option>
                                <option>Pacific/Easter</option>
                                <option>Pacific/Efate</option>
                                <option>Pacific/Enderbury</option>
                                <option>Pacific/Fakaofo</option>
                                <option>Pacific/Fiji</option>
                                <option>Pacific/Funafuti</option>
                                <option>Pacific/Galapagos</option>
                                <option>Pacific/Gambier</option>
                                <option>Pacific/Guadalcanal</option>
                                <option>Pacific/Guam</option>
                                <option>Pacific/Honolulu</option>
                                <option>Pacific/Johnston</option>
                                <option>Pacific/Kiritimati</option>
                                <option>Pacific/Kosrae</option>
                                <option>Pacific/Kwajalein</option>
                                <option>Pacific/Majuro</option>
                                <option>Pacific/Marquesas</option>
                                <option>Pacific/Midway</option>
                                <option>Pacific/Nauru</option>
                                <option>Pacific/Niue</option>
                                <option>Pacific/Norfolk</option>
                                <option>Pacific/Noumea</option>
                                <option>Pacific/Pago_Pago</option>
                                <option>Pacific/Palau</option>
                                <option>Pacific/Pitcairn</option>
                                <option>Pacific/Pohnpei</option>
                                <option>Pacific/Ponape</option>
                                <option>Pacific/Port_Moresby</option>
                                <option>Pacific/Rarotonga</option>
                                <option>Pacific/Saipan</option>
                                <option>Pacific/Samoa</option>
                                <option>Pacific/Tahiti</option>
                                <option>Pacific/Tarawa</option>
                                <option>Pacific/Tongatapu</option>
                                <option>Pacific/Truk</option>
                                <option>Pacific/Wake</option>
                                <option>Pacific/Wallis</option>
                                <option>Pacific/Yap</option>
                                <option>Poland</option>
                                <option>Portugal</option>
                                <option>Singapore</option>
                                <option>Turkey</option>
                                <option>US/Alaska</option>
                                <option>US/Aleutian</option>
                                <option>US/Arizona</option>
                                <option>US/Central</option>
                                <option>US/East-Indiana</option>
                                <option>US/Eastern</option>
                                <option>US/Hawaii</option>
                                <option>US/Indiana-Starke</option>
                                <option>US/Michigan</option>
                                <option>US/Mountain</option>
                                <option>US/Pacific</option>
                                <option>US/Pacific-New</option>
                                <option>US/Samoa</option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% for f in forms %}
                        <form method="post" class="form" action="{{ url_for('settingmanagement.editSetting', settingId=f.id.data) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {{ f.id(class_ = 'form-control', placeholder = f.id.label.text, required = true, autofocus = true) }}
                            {{ f.label(class_ = 'form-control', placeholder = f.label.label.text, required = true, autofocus = true) }}
                            <label for="{{ f.id.label.text }}">{{ f.label.data }}</label>
                            <div class="input-group" data-setting-name="{{ f.id.data }}">
                                {{ f.value(class_ = 'form-control', placeholder = f.value.label.text, required = true, autofocus = true) }}
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o "></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}

{% block bottomJavaScript %}
// Tie time zone selector dropdown menu with respective form element
$("#timeZoneSelector").change(function() {
    $("div").find("[data-setting-name=timezone]").find("input").val($("#timeZoneSelector option:selected").text());
});
{% endblock %}