{% extends 'layouts/main.html' %}
{% block title %}Database Restore{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Choose Database to Restore</h1>
</div>
<div class="row">
    <div class="row">
        <div class="container col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-database" aria-hidden="true"></i> Database Backups <span class="badge">{{databases|length}}</span></div>
                <ul class="list-group">
                    {% for database in databases %}
                        <a href="{{ url_for('main.restore', databasename=database) }}" class="list-group-item">{{database}}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
