{% extends 'layouts/main.html' %}
{% block title %}Edit Workplace{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        {% import 'macros/form.html' as form_macros %}
        {{ form_macros.render_form_panel(form, heading='Edit Workplace', action_url=url_for('machinemanagement.editMachine', machineNumber=form_machine_id), action_text='Save', panel_icon_class='fa fa-cog') }}
	</div>
</div>
<div class="row">
    <div class="row">
        <div class="container col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-wrench" aria-hidden="true"></i> Covered Labor Operations <span class="badge">{{coveredAPOS|length}}</span></div>
                <table class="table table-striped table-hover tablesorter">
                    <thead>
                        <th>
                            ID
                        </th>
                        <th style="text-align:center">
                            Name
                        </th>
                    </thead>
                    <tbody>
                        {% for item in coveredAPOS %}
                            <tr>
                                <td>{{ item.operationId }}</td>
                                <td>
                                    {{ item.name }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  
 {% for field in form.errors %}
	{% for error in form.errors[field] %}
		<div class="alert alert-error">
			<strong>Error!</strong> {{error}}
		</div>
	{% endfor %}
{% endfor %}
  
{% endblock %}
