{% extends 'layouts/main.html' %}
{% block title %}Workplace Management{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Workplace Management</h1>
</div>
<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-cog" aria-hidden="true"></i> Workplaces <span class="badge">{{machines|length}}</span> <a href="{{ url_for('machinemanagement.addMachine') }}" title="Add Machine"><i class="fa fa-plus pull-right"></i></a></div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>
                        Name
                    </th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for item in machines %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td style="text-align:center">
                                <a href="{{ url_for('machinemanagement.editMachine', machineNumber=item.id) }}" title="Edit Workplace">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
