{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- styles -->
{% assets
    filters="cssmin",
    output="gen/css_libs.css",
    "css/shopfloormanagement/index.css",
    "css/components/schedule.css",
    "css/components/schedule-events.css"
%}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<div class="page-header">
    <h1>
        Shop Floor Overview
        <small>For: {{ startDate.strftime(formatString['date']) }}</small>    
        <a href="{{ url_for('shopfloormanagement.searchJobs') }}" title="Search Jobs">
            <i class="fa fa-search pull-right"></i>
        </a>
        <a href="{{ url_for('shopfloormanagement.addJob') }}" title="Add Job">
            <i class="fa fa-plus pull-right"></i>
        </a>
        <a href="{{ url_for('shopfloormanagement.run_simulation') }}" title="Run Simulation">
            <i class="fa fa-play pull-right"></i>
        </a> 
    </h1>
</div>
<div class="row">
    <div class="col-sm-4"><a class="prevDayLink"><i class="glyphicon glyphicon-arrow-left"></i> <span class="prevDayString"></span></a></div>
    <div class="col-sm-4"><span class="dateSelector" style="border:none;"></span></div>
    <div class="col-sm-2">
        <div class="row text-center" id="schedule-legend">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-cs-12" style="background-color:rgba(243, 226, 138, 1)">
                        Event Scheduled
                    </div>
                </div>
                <div class="row">
                    <div class="col-cs-12" style="background-color:rgba(223, 240, 216, 1)">
                        Event Completed
                    </div>
                </div>
                <div class="row">
                    <div class="col-cs-12" style="background-color:rgba(242, 222, 222, 1)">
                        Event in progress
                    </div>
                </div>
                <div class="row">
                    <div class="col-cs-12" style="background-color:rgba(200, 200, 200, 0.4)">
                        Availability
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 text-right"><a class="nextDayLink" class="pull-right"><span class="nextDayString"></span> <i class="glyphicon glyphicon-arrow-right"></i></a></div>
</div>
<div class="row">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"  class="active"><a href="#" data-target="#capacity" aria-controls="capacity" role="tab" data-toggle="tab"><i class="fa fa-line-chart"></i> Capacity Overview</a></li>
            <li role="presentation"><a href="#" data-target="#gantt" aria-controls="gantt" role="tab" data-toggle="tab"><i class="fa fa-calendar-check-o"></i> Workshop Planning</a></li>
            <li role="presentation"><a href="#" data-target="#appointments" aria-controls="appointments" role="tab" data-toggle="tab"><i class="fa fa-eye"></i> Appointment Planning</a></li>
            <li role="presentation"><a href="#" data-target="#jobs" aria-controls="jobs" role="tab" data-toggle="tab"><i class="fa fa-tasks"></i> Jobs</a></li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="capacity">
                {% import 'macros/capacityProfileChart.html' as capChart with context %}
                {{ capChart.capacityProfileChart(capacityProfile) }}
                {% import 'macros/capacityProfile.html' as capProfile with context %}
                {{ capProfile.capacityProfile(capacityProfile) }}
                
            </div>  
            <div role="tabpanel" class="tab-pane" id="gantt">
            </div> 
            <div role="tabpanel" class="tab-pane" id="appointments">
            </div>   
            <div role="tabpanel" class="tab-pane" id="jobs">
                {% import 'macros/jobStatus.html' as jobStatus with context %}
                <div class="container col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Jobs <a href="{{ url_for('shopfloormanagement.addJob') }}" title="Add Job"><i class="fa fa-plus pull-right"></i></a></div>
                        <table class="table table-striped table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th class="filter-select">Status</th>
                                    <th>Name</th>
                                    <th>Regist. #</th>
                                    <th class="sorter-ratioOfIntegers">Remaining Work Content</th>
                                    <th class="sorter-pythonDatetime">Drop-Off</th>
                                    <th class="sorter-pythonDatetime">Pick-Up</th>
                                    <th class="sorter-false filter-false">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in unreturnedJobs %}
                                    {%if job.jobStatus == 7%}
                                        {% set class = 'delayed' %}
                                    {%endif%}
                                    <tr class="{{ class }}">
                                        <td>{{ jobStatus.jobStatus(job) }}</td>
                                        <td>{{ job.name }}</td>
                                        <td>{{ job.licensePlate }}</td>
                                        <td>{{ job.outstandingWorkContent|round|int }} / {{ job.totalWorkContent }} TU</td>
                                        <td>
                                            {% if job.dropOffAppointment is not none %}
                                                {{ job.dropOffAppointment.startDatetime.strftime(formatString['datetime']) }}
                                            {% else %}
                                                <a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=job.id, inbound='inbound') }}"><i class="glyphicon glyphicon-calendar"></i> Schedule Appointment</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if job.pickUpAppointment is not none %}
                                                {{ job.pickUpAppointment.startDatetime.strftime(formatString['datetime']) }}
                                            {% else %}
                                                <a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=job.id, inbound='outbound') }}"><i class="glyphicon glyphicon-calendar"></i> Schedule Appointment</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ url_for('shopfloormanagement.editJob', jobNumber=job.id) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            {% if (current_user.role in ['ServiceAdvisor', 'Manager'] and job.releaseDatetime is none) %}
                                                <a href="{{ url_for('shopfloormanagement.releaseJob', jobNumber=job.id) }}" title="Release Job">
                                                    <span><i class="glyphicon glyphicon-send" aria-hidden="true"></i></span>
                                                </a>
                                            {% endif %}
                                            {% if (current_user.qualityInspector and job.jobStatus == 3) %}
                                                <a href="{{ url_for('shopfloormanagement.qualityCheckJob', jobNumber=job.id) }}" title="Report Quality Checked">
                                                    <span><i class="fa fa-check-square" aria-hidden="true"></i></span>
                                                </a>
                                            {% endif %}
                                            {% if (current_user.role in ['ServiceAdvisor', 'Manager'] and job.jobStatus == 4) %}
                                                <a href="{{ url_for('shopfloormanagement.completeJob', jobNumber=job.id) }}" title="Report Complete">
                                                    <span><i class="fa fa-flag-checkered " aria-hidden="true"></i></span>
                                                </a>
                                            {% endif %}
                                            {% if (current_user.role in ['ServiceAdvisor', 'Manager', 'ServiceAssistant'] and job.jobStatus == 5) %}
                                                <a href="{{ url_for('shopfloormanagement.returnJob', jobNumber=job.id) }}" title="Report Vehicle as returned to customer">
                                                    <span><i class="fa fa-level-up" aria-hidden="true"></i></span>
                                                </a>
                                            {% endif %}
                                            {% if job.shareCompleted == 0 %}
                                                <a href="#" data-href="{{ url_for('shopfloormanagement.deleteJob', jobNumber=job.id) }}" title="Delete Job" data-toggle="modal" data-target="#confirm-delete">
                                                    <span class="text-danger"><i class="fa fa-trash deleteLink" aria-hidden="true"></i></span>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
{% assets
    filters="jsmin",
    output="gen/js_index.js",
    "js/shopfloormanagement/index.js",
    "js/plugins/schedule-component.js",
    "js/shopfloormanagement/schedule/schedule-builder.js",
    "js/shopfloormanagement/schedule/workshop-schedule-builder.js",
    "js/shopfloormanagement/schedule/patch-event-content-builder.js",
    "js/shopfloormanagement/schedule/appointment-schedule-builder.js",
    "js/shopfloormanagement/schedule/appointment-event-content-builder.js"
%}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
{% endassets %}

{% block bottomJavaScript %}
    // define link function that takes the URL as parameter and adds the currently selected tab as hash to it before calling it
    function callWithCurrentTab(url) {
        // find current hash
        currentUrl = document.location.toString();
        if (currentUrl.match('#')) {
            h = '#' + currentUrl.split('#')[1];
        }
        else
            h = '';
        window.location.href = url + h;
    }
    // Automatically open tab based on URL parameter
    // code from http://stackoverflow.com/a/9393768
    $(document).ready(function(){
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[data-target="#' + url.split('#')[1] + '"]').tab('show');
        } //add a suffix

        // Change hash for page-reload, once new tab is selected
        $('.nav-tabs a').on('show.bs.tab', function (e) {
            window.location.hash = $(e.target).attr('data-target');
        })
    });
    
    // Fill start-date dependent links and instantiate date selectors
    $(document).ready(function(){
        urlTemplate = '{{ urlTemplate }}';
        urlTimeFormatter = d3.utcFormat(urlTemplate);
        textDateFormatter = d3.utcFormat('{{ formatString['date'] }}');
        startDate = d3.utcParse('%Y-%m-%d')('{{ startDate.strftime('%Y-%m-%d') }}');
        
        // Fill links and spans referring to yesterday and tomorrow
        yesterday = d3.timeDay.offset(startDate, -1);
        $(".prevDayLink").each(function(i, item) { $(this).attr('href', 'javascript:callWithCurrentTab(\'' + urlTimeFormatter(yesterday) + '\')'); });
        $(".prevDayString").each(function(i, item) { $(this).text(textDateFormatter(yesterday)); });
        tomorrow = d3.timeDay.offset(startDate, +1);
        $(".nextDayLink").each(function(i, item) { $(this).attr('href', 'javascript:callWithCurrentTab(\'' + urlTimeFormatter(tomorrow) + '\')'); });
        $(".nextDayString").each(function(i, item) { $(this).text(textDateFormatter(tomorrow)); });
        
        $(".dateSelector").each(function(i, item) {
            // add calendar field
            $(this).html('<div class=\"input-group date\"><input type=\"text\" class=\"form-control input-lg\" /><span class=\"input-group-addon\"><span class=\"fa fa-calendar\"></span></div>');
            // Instantiate datepicker
            datestring = pythonToMomentsDateFormatConversion('{{ formatString['date'] }}');
			$(this).find(".input-group").eq(0).datetimepicker({
				format: datestring,
				defaultDate: d3.utcParse('%Y-%m-%d')('{{ startDate.strftime('%Y-%m-%d') }}')
			});
            // Tie date-picker change to reload of page
            $(this).find(".input-group").eq(0).on('dp.change', function(e) {
                newDate = d3.utcParse('{{ formatString['date'] }}')($(this).find("input").val());
                callWithCurrentTab(urlTimeFormatter(newDate));
            });
        });
    });
    
    // Make Gantt Chart CSS Stick to top of display (below navbar) when scrolling down
    $(window).scroll(function(e){ 
        scrollTop = $(this).scrollTop();
        navHeight = $(".navbar-fixed-top").height();
        $('.top-info').not('.clone').filter(':visible').each(function(i, item){ // make sure we do not create clones of clones
            item = $(item);
            if (typeof item.data('originalTop') === 'undefined'){ // initialize information in DOM Node once
                item.data('originalTop', item.offset().top);
                item.data('hasClone', false);
            }

            if (scrollTop + navHeight > item.data('originalTop')){ 
                if (!item.data('hasClone')) { // no clone of this element created yet
                    clone = item.clone(); // Clone HTML element
                    clone.prependTo(item.parent()); // add clone to parent element
                    clone.addClass('clone'); // mark as clone
                    clone.css({'position': 'fixed', 'top': navHeight + 'px', 'width': item.width()}); // set CSS properties to make clone sticky
                    item.data('hasClone', true); // store information that we created a clone
                }
                item.siblings('.clone').show(); // show clones
            }
            if (scrollTop + navHeight < item.data('originalTop')) {
                item.siblings('.clone').hide(); // hide clones
            } 
        });

    });
{% endblock %}
