{% extends 'layouts/main.html' %}
{% block title %}Shop Floor Statistics{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        Shop Floor Statistics
        <small>Over the last {{ multiplier }} {{ timeUnit }}</small>
    </h1>
</div>
<div class="row">
    <div class="container col-md-12">  
        <center>
            <form class="form-inline">
                <div class="form-group">
                    <label for="multiplierField">Change time horizon</label>
                    <input type="number" min="0" max="100" size="4" id="multiplierField" value="{{multiplier}}" class="form-control" >
                </div>
                <div class="form-group">
                    <select id="timeUnitField" class="select2-transform">
                        {% for tu in ['days', 'weeks'] %}
                            <option value="{{ tu }}" {% if timeUnit == tu %}selected="selected"{% endif %}>{{ tu }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a onclick="changeTimeHorizon()" class="btn btn-default">Change</a>
            </form>
        </center>
    </div>
</div>
<div class="row">
    {% if jobsOnTime + jobsLate > 0 %}
        <div class="container col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ jobsOnTime }} out of {{ jobsOnTime + jobsLate }} jobs completed on time
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ jobsOnTime/(jobsOnTime + jobsLate)*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ jobsOnTime/(jobsOnTime + jobsLate)*100 }}%;">
                            <span class="sr-only">{{ jobsOnTime/(jobsOnTime + jobsLate)*100 }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    {% import 'macros/flowFactorChart.html' as flowFactorChart with context %}
    {{ flowFactorChart.flowFactorChart(flowFactorKeys, flowFactorCumulatedValues) }}
    
    {% import 'macros/throughputDiagramChart.html' as throughputDiagramChart with context %}
    {{ throughputDiagramChart.throughputDiagramChart(throughputDiagramDays, inputTU, outputTU) }}
    
    {% import 'macros/utilizationProfileChart.html' as utilizationProfileChart with context %}
    {{ utilizationProfileChart.utilizationProfileChart(utilizationProfile) }}
</div>
{% endblock %}

{% block bottomJavaScript %}
    function changeTimeHorizon() {   
        console.log("function called");
        window.location.href = "{{ basisURL }}/" + $("#multiplierField").val() + $("#timeUnitField").val();
        return true;
    }
{% endblock %}

