{# Macros to render forms in bootstrap. Adapted from https://gist.github.com/bearz/7394681 #}
{% macro render_form(form, heading='', action_url='', action_text='Submit', class_='form', btn_class='btn btn-default', method='POST', fieldlist_labels={}, fieldlist_add_urls={}, fieldlist_add_forms={}) -%}
    <form method="{{ method }}" action="{{ action_url }}" role="form" class="{{ class_ }}" enctype="multipart/form-data">
        {% if heading != '' %}
            <h3 class="form-heading">{{ heading }}</h3>
        {% endif %}
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {{ render_fields(form, fieldlist_labels, fieldlist_add_urls, fieldlist_add_forms) }}
        {% endif %}
        <button type="submit" class="btn btn-primary">{{ action_text }}</button>
        <button type="reset" class="btn btn-default">Reset Form</button>
    </form>
{% endmacro %}

{# Macros to render forms in bootstrap as a panel. Adapted from https://gist.github.com/bearz/7394681 #}
{% macro render_form_modal(form, modalId='', heading='', action_url='', action_text='Submit', class_='form', btn_class='btn btn-default', method='POST', panel_icon_class='', fieldlist_labels={}, fieldlist_add_urls={}, fieldlist_add_forms={}) -%}
    <div class="modal fade append-to-body" tabindex="-1" role="dialog" id="{{modalId}}" data-action-url="{{ action_url }}" data-method="{{method}}">
        <form method="{{ method }}" action="{{ action_url }}" role="form" class="{{ class_ }}" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if heading != '' %}
                        <h4 class="modal-title">{{ heading }}</h4>
                    {% endif %}
                </div>
                <div class="modal-body">
                    {{ form.hidden_tag() if form.hidden_tag }}
                    {% if caller %}
                        {{ caller() }}
                    {% else %}
                        {{ render_fields(form, fieldlist_labels, fieldlist_add_urls, fieldlist_add_forms) }}
                    {% endif %} 			
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{ action_text }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->
{% endmacro %}

{# Macros to render forms in bootstrap as a panel. Adapted from https://gist.github.com/bearz/7394681 #}
{% macro render_form_panel(form, heading='', action_url='', action_text='Submit', class_='form', btn_class='btn btn-default', method='POST', panel_icon_class='', fieldlist_labels={}, fieldlist_add_urls={}, fieldlist_add_forms={}) -%}
    <form method="{{ method }}" action="{{ action_url }}" role="form" class="{{ class_ }}" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if panel_icon_class != '' %}
                    <i class="{{panel_icon_class}}"></i>
                {% endif %}
                {% if heading != '' %}
                    {{ heading }}
                {% endif %}
            </div>
            <div class="panel-body">    
                {{ form.hidden_tag() if form.hidden_tag }}
                {% if caller %}
                    {{ caller() }}
                {% else %}
                    {{ render_fields(form, fieldlist_labels, fieldlist_add_urls, fieldlist_add_forms) }}
                {% endif %} 
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ action_text }}</button>
                <button type="reset" class="btn btn-default">Reset Form</button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro render_fields(form, fieldlist_labels, fieldlist_add_urls, fieldlist_add_forms) %}
    {% for f in form %}
        {% if f.type == 'CSRFTokenField' %}
            {{ render_CSRFTokenField(f) }}
        {% else %}
            <div class="form-group {% if f.errors|length > 0 %}has-error{% endif %}">
                {% if f.type != 'FieldList' %}
                    <label class="control-label" for="{{ f.id }}">
                        {{ f.label.text }}{% if f.flags.required %}*{% endif %}
                        {% if f.description|length > 0 %}
                            <i class="fa fa-question-circle" data-toggle="popover" data-trigger="hover" title="{{ f.label.text }}" data-content="{{f.description}}" tabindex="0"></i>
                        {% endif %}
                    </label>
                {% elif f.id in fieldlist_labels.keys() %}
                    <label class="control-label" for="{{ f.id }}">
                        {{ fieldlist_labels[f.id] }}
                    </label>
                {% endif %}
                
                {{ render_field(f, fieldlist_add_urls, fieldlist_add_forms) }}
                {{ render_errors(f) }}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_field(field, fieldlist_add_urls, fieldlist_add_forms) -%}
    {% if field.type == 'FileField' %}
        {{ render_FileField(field) }}
    {% elif field.type == 'BooleanField' %}
        {{ render_BooleanField(field) }}
    {% elif field.type == 'DateTimeField' %}
        {{ render_DateTimeField(field) }}
    {% elif field.type == 'DateField' %}
        {{ render_DateField(field) }}
    {% elif field.type == 'TimeField' %}
        {{ render_TimeField(field) }}
    {% elif (field.type == 'SelectField' or field.type == 'QuerySelectMultipleField' or field.type == 'QuerySelectField') %}
        {{ render_SelectField(field) }}
    {% elif field.type == 'IntegerField' %}
        {{ render_IntegerField(field) }}
    {% elif field.type == 'DecimalField' %}
        {{ render_DecimalField(field) }}
    {% elif field.type == 'Select2AJAXSelectField' %}
        {{ render_Select2AJAXSelectField(field) }}
    {% elif field.type == 'FileField' %}
        {{ render_FileField(field) }}
    {% elif field.type == 'FieldList' %}
        {{ render_FieldList(field, fieldlist_add_urls, fieldlist_add_forms) }}
    {% else %}
        {{ render_DefaultField(field) }}
    {% endif %}
{% endmacro %}

{% macro render_errors(field) %}
    {% if field.errors|length > 0 %}
        <span id="{{field.id}}_helptext" class="help-block">
            {% if field.errors|length > 0 %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </span>
    {% endif %}
{% endmacro %}

{% macro render_DefaultField(field) -%}
    {{ field(class_ = 'form-control', id = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false) }}
{%- endmacro %}

{% macro render_IntegerField(field) -%}
    {# if we have a number range validator, turn the form element into an slider (add slider class) and pass min and max values #}
    {% if filterInstancesForClass(field.validators, 'NumberRange')|length > 0 %}
        {{ field(class_ = 'form-control slider', type='number', min=filterInstancesForClass(field.validators, 'NumberRange')[0].min, max=filterInstancesForClass(field.validators, 'NumberRange')[0].max, id = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false) }}
    {% else %}
        {{ field(class_ = 'form-control', type='number', id = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false, step=1) }}
    {% endif %}

{%- endmacro %}

{% macro render_DecimalField(field) -%}
    {# if we have a number range validator, turn the form element into an slider (add slider class) and pass min and max values #}
    {% if filterInstancesForClass(field.validators, 'NumberRange')|length > 0 %}
        {{ field(class_ = 'form-control slider', type='number', min=filterInstancesForClass(field.validators, 'NumberRange')[0].min, max=filterInstancesForClass(field.validators, 'NumberRange')[0].max, step=0.01, id = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false) }}
    {% else %}
        {{ field(class_ = 'form-control', type='number', id = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false, step=0.01,) }}
    {% endif %}
{%- endmacro %}

{% macro render_SelectField(field) -%}
    {{ field(class_ = 'form-control select2-transform', id = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false) }}
{%- endmacro %}

{% macro render_Select2AJAXSelectField(field) -%}
    {{ field(class_ = 'form-control select2-ajax', id = field.id, id_ = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false) }}
{%- endmacro %}

{# Datetime field requires additional JS #}
{% macro render_DateTimeField(field) -%}
    <div class="input-group date datetimepicker">
        {{ field(class_ = 'form-control', id= field.id, placeholder = field.label.text, required = field.flags.required, format=formatString['datetime']) }}
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
{%- endmacro %}

{# Date field requires additional JS #}
{% macro render_DateField(field) -%}
    <div class="input-group date datetimepicker">
        {{ field(class_ = 'form-control', id= field.id, placeholder = field.label.text, required = field.flags.required, format=formatString['date']) }}
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
{%- endmacro %}

{# Date field requires additional JS #}
{% macro render_TimeField(field) -%}
    <div class="input-group date datetimepicker">
        {{ field(class_ = 'form-control', id= field.id, placeholder = field.label.text, required = field.flags.required, format=formatString['time']) }}
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
{%- endmacro %}

{% macro render_BooleanField(field) -%}
    <div class="form-group checkbox {% if field.errors|length > 0 %}has-error{% endif %}">
        <label class="control-label" for="{{ field.id }}">
            {{ field(class_ = 'form-control, last-input', id = field.id, placeholder = field.label.text, required = field.flags.required, autofocus = false) }}
            {{ field.label.text }}{% if field.flags.required %}*{% endif %}
        </label>
    </div>
    {{ render_errors(field) }}
{%- endmacro %}

{# File upload field implementation as suggested in https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3. Requires additional JS #}
{% macro render_FileField(field) -%}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{field.label.text}}" readonly>
        <label class="input-group-btn">
            <span class="btn btn-default">
                Browse&hellip;
                <input type="file" id="{{field.id}}" name="{{field.id}}" class="form-control" style="display: none;" {% if field.flags.required %}required{% endif %}>
            </span>
        </label>
    </div>
{%- endmacro %}

{% macro render_FieldList(field, fieldlist_add_urls={}, fieldlist_add_forms={}) -%}
    <table class="table table-striped">
        {% if field|length > 0 %}
            <thead>
                {% for f in field[0] if not f.type == 'CSRFTokenField' %}
                    <th>{{ f.label.text }}{% if f.flags.required %}*{% endif %}</th>
                {% endfor %}
                <th>Actions</th>
            </thead>
            <tbody>
                {% for form in field %}
                    <tr>
                        {% for f in form if not f.type == 'CSRFTokenField' %}
                            <td>
                                {{ render_field(f) }}
                            </td>
                        {% endfor %}
                        <td>
                            <a href="#" data-toggle="fieldset-remove-row"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %} 
        
    </table>
    {% if (field.id in fieldlist_add_forms.keys() and field.id in fieldlist_add_urls.keys()) %}
        {# Render Modal Form #}
        {% set modalId = range(1, 51) | random %}
        {{
            render_form_modal(
                form=fieldlist_add_forms[field.id],
                modalId=modalId,
                heading='Add Entry',
                action_url=fieldlist_add_urls[field.id],
                action_text='Add',
                class_='form',
                btn_class='btn btn-default',
                method='POST',
                panel_icon_class=''
            )
        }}
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#{{modalId}}"><i class="fa fa-plus"></i> Add Entry</button>
    {% elif field.id in fieldlist_add_urls.keys() %}
        <a type="button" class="btn btn-success btn-sm" href="{{ fieldlist_add_urls[field.id] }}""><i class="fa fa-plus"></i> Add Entry</a>
    {% endif %}
{% endmacro %}


{% macro render_CSRFTokenField(field, errors) -%}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{%- endmacro %}