{% macro capacityProfileChart(capProfile) -%}
    {% if capProfile.values()|length > 0 %}
        {% set orderedGroups = capProfile.values()[0]['presentCapacity_perGroup'].keys()|sort(attribute='name') %} {# Sort technician groups by name #}
        
        <div class="col-sm-12" id="capacityProfileChart">
            
            <div id="graph" style="width:100%;height:320px;"></div>
            <center>
                <div class="btn-group text-center" data-toggle="buttons" id="control">
                    <label class="btn btn-default active">
                        <input type="radio" name="capacityLine" value="0" autocomplete="off" checked> Overall
                    </label>
                    {% for g in orderedGroups %}
                        <label class="btn btn-default">
                            <input type="radio" name="capacityLine" value="{{loop.index}}" autocomplete="off"> {{ g.name }}
                        </label>
                    {% endfor %}
                </div>
            </center>
        </div>
        <img id="demoImg"/>
        <script language="JavaScript" defer>
            $(document).ready(function(){
                g = new Dygraph(
                    $("#capacityProfileChart").find("#graph").get(0),   
                    // Define data
                    "X,Available Capacity,Booked Capacity{%- for g in orderedGroups %},Avail. Cap. {{ g.name }}, Booked Cap. {{ g.name }}{%- endfor %}\n" +
                    {%- for d in capProfile.keys()|sort %}
                            "{{d}},{{ capProfile[d]['presentCapacity']|round|int }},{{ capProfile[d]['usedCapacity']|round|int }}{%- for g in orderedGroups %},{{ capProfile[d]['presentCapacity_perGroup'][g]|round|int }}, {{ capProfile[d]['usedCapacity_perGroup'][g]|round|int }}{%- endfor %}\n" +
                    {%- endfor %}
                    "",
                    {
                        // options go here. See http://dygraphs.com/options.html
                        animatedZooms: false,
                        title: 'Capacity Overview',
                        stackedGraph: false,
                        ylabel: 'Capacity [TU]',
                        xlabel: 'Date',
                        stepPlot: true,
                        fillGraph: true,
                        labelsSeparateLines: true,
                        includeZero: true,  // y-axis should start at 0
                        visibility: [true, true {%- for g in orderedGroups %}, false, false{%- endfor %}],
                        colors: ['green', 'blue' {%- for g in orderedGroups %}, 'green', 'blue'{%- endfor %}],
                        xRangePad: 20,
                        axes: {
                            x: {
                                // Format values on axis as Y-m-d
                                axisLabelFormatter: function(d) {
                                    return d3.timeFormat('{{ formatString['shortDate'] }}')(d);
                                },
                                valueFormatter: function (ms) {
                                    d = new Date(ms);
                                    return d3.timeFormat('{{ formatString['shortDate'] }}')(d);
                                }
                            }
                        }
                    }
                );
                // Make sure, chart renders properly within Tab, c.f. http://stackoverflow.com/a/36070640
                $(document).on( 'shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                    g.resize(); // resize the dygraph
                });
                // Bind change in control radio buttons to change of visible data
                $('#capacityProfileChart').find('input[name=capacityLine]').on('change', function() {
                    i = $('#capacityProfileChart').find('input[name=capacityLine]:checked').val();
                    // show the available and booked capacity for either the entire workshop (i=0) or a subgroup (i > 0)
                    numberOfLines = g.visibility().length;
                    // create output array
                    newVisibilityArray = [];
                    for(j = 0; j < numberOfLines; j++)
                        newVisibilityArray.push(false);
                    // set true flags based on i
                    newVisibilityArray[i*2] = true;
                    newVisibilityArray[i*2+1] = true;
                    g.setVisibility(newVisibilityArray);
                });
            });
        </script>
    {% endif %}
{%- endmacro %}