{% macro capacityProfile(capProfile) -%}
    {% if capProfile.values()|length > 0 %}
        {% set orderedGroups = capProfile.values()[0]['presentCapacity_perGroup'].keys()|sort(attribute='name') %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="border-right:1px solid rgb(221,221,221)" colspan="2"></th>
                    <th style="text-align:center" colspan="{{ capProfile.values()[0]['presentCapacity_perGroup'].keys()|length }}">Capacity per Group</th>
                </tr>
                <tr>
                    <th>Day</th>
                    <th style="border-right:1px solid rgb(221,221,221)">Used / Available Capacity [TU]</th>
                    {% for g in orderedGroups %}
                        <th style="text-align:center">{{ g.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for d in capProfile.keys()|sort %}
                    {# Only link to detail view of day, if there is any capacity here #}
                    {% if capProfile[d]['presentCapacity'] > 0 %}
                        <tr>
                            <td>
                                <a href="{{ url_for('shopfloormanagement.index', startDate=d.isoformat()) }}">{{ d.strftime(formatString['date']) }}</a>
                            </td>
                            <td style="text-align:center; border-right:1px solid rgb(221,221,221)">
                                <span class="badge">
                                    {{ capProfile[d]['usedCapacity']|round|int }} / {{ capProfile[d]['presentCapacity']|round|int }} TU
                                </span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ capProfile[d]['usedCapacity']/capProfile[d]['presentCapacity'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ capProfile[d]['usedCapacity']/capProfile[d]['presentCapacity']*100 }}%">
                                        <span class="sr-only">{{ (capProfile[d]['usedCapacity']/capProfile[d]['presentCapacity'])*100|round|int }}% Complete</span>
                                    </div>
                                </div>
                            </td>
                            {% for g in orderedGroups %}{# iterate through all groups #}
                                <td style="text-align:center;">
                                    <span class="badge">
                                        {{ capProfile[d]['usedCapacity_perGroup'][g]|round|int }} / {{ capProfile[d]['presentCapacity_perGroup'][g]|round|int }} TU
                                    </span>
                                    {% if capProfile[d]['presentCapacity_perGroup'][g] > 0 %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ capProfile[d]['usedCapacity_perGroup'][g]/capProfile[d]['presentCapacity_perGroup'][g] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ capProfile[d]['usedCapacity_perGroup'][g]/capProfile[d]['presentCapacity_perGroup'][g]*100 }}%">
                                                <span class="sr-only">{{ (capProfile[d]['usedCapacity_perGroup'][g]/capProfile[d]['presentCapacity_perGroup'][g])*100|round|int }}% Complete</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{%- endmacro %}