{% macro flowFactorChart(xValues, cumYValues) -%}
    {% if xValues|length > 0 %}
        <div class="col-sm-12" id="flowFactorChart">
            <div id="graph" style="width:100%;height:400px;"></div>
        </div>
        <script language="JavaScript" defer>
            $(document).ready(function(){
                g = new Dygraph(
                    $("#flowFactorChart").find("#graph").get(0),   
                    // Define data
                    "Flow Factor,Cumulated Probability\n" +
                    {%- for f in xValues %}
                            "{{ f }},{{cumYValues[loop.index0]}}\n" +
                    {%- endfor %}
                    "",
                    {
                        // options go here. See http://dygraphs.com/options.html
                        animatedZooms: false,
                        title: 'Flow Factors',
                        stackedGraph: false,
                        ylabel: 'Cumulated share of orders',
                        xlabel: 'Flow Factor',
                        stepPlot: true,
                        labelsSeparateLines: true,
                        includeZero: true,  // y-axis should start at 0
                        colors: ['red'],
                        xRangePad: 20
                    }
                );
            });
        </script>
    {% endif %}
{%- endmacro %}