{% macro throughputDiagramChart(throughputDiagramDays, inputTU, outputTU) -%}
    {% if inputTU|length > 0 %}
        <div class="col-sm-12" id="throughputDiagramChart">
            <div id="graph" style="width:100%;height:400px;"></div>
        </div>
        <script language="JavaScript" defer>
            $(document).ready(function(){
                g = new Dygraph(
                    $("#throughputDiagramChart").find("#graph").get(0),   
                    // Define data
                    "SCD,Cumulated Input,Cumulated Output,Work in Progress\n" +
                    {%- for i in inputTU %}
                            "{{ throughputDiagramDays[loop.index0] }},{{inputTU[loop.index0]}},{{outputTU[loop.index0]}},{{inputTU[loop.index0] - outputTU[loop.index0]}}\n" +
                    {%- endfor %}
                    "",
                    {
                        // options go here. See http://dygraphs.com/options.html
                        animatedZooms: false,
                        title: 'Throughput Diagram',
                        stackedGraph: false,
                        ylabel: 'Cum. Workcontent [TU]',
                        xlabel: 'Shop Calendar Days',
                        stepPlot: true,
                        labelsSeparateLines: true,
                        includeZero: true,  // y-axis should start at 0
                        colors: ['green', 'blue', 'red'],
                        xRangePad: 20,
                        axes: {
                            x: {
                                // Format values on axis
                                axisLabelFormatter: function(d) {
                                    return d3.timeFormat('{{ formatString['shortDate'] }}')(d);
                                },
                                valueFormatter: function (ms) {
                                    d = new Date(ms);
                                    return d3.timeFormat('{{ formatString['shortDate'] }}')(d);
                                }
                            }
                        }
                    }
                );
            });
        </script>
    {% endif %}
{%- endmacro %}