{% macro utilizationProfileChart(utilizationProfile) -%}
    {% if utilizationProfile.values()|length > 0 %}
        {% set orderedGroups = utilizationProfile.values()[0]['perGroup'].keys()|sort(attribute='name') %} {# Sort technician groups by name #}
        
        <div class="col-sm-12" id="utilizationProfileChart">
            
            <div id="graph" style="width:100%;height:320px;"></div>
            <center>
                <div class="btn-group text-center" data-toggle="buttons" id="control">
                    <label class="btn btn-default active">
                        <input type="radio" name="utilizationLine" value="0" autocomplete="off" checked> Overall
                    </label>
                    {% for g in orderedGroups %}
                        <label class="btn btn-default">
                            <input type="radio" name="utilizationLine" value="{{loop.index}}" autocomplete="off"> {{ g.name }}
                        </label>
                    {% endfor %}
                </div>
            </center>
        </div>
        <script language="JavaScript" defer>
            $(document).ready(function(){
                g = new Dygraph(
                    $("#utilizationProfileChart").find("#graph").get(0),   
                    // Define data
                    "X,Overall Workshop Loading{%- for g in orderedGroups %},Workshop Loading {{ g.name }}{%- endfor %}\n" +
                    {%- for d in utilizationProfile.keys()|sort %}
                            "{{d}},{{ utilizationProfile[d]['overall']*100|round|int }}{%- for g in orderedGroups %},{{ utilizationProfile[d]['perGroup'][g]*100|round|int }}{%- endfor %}\n" +
                    {%- endfor %}
                    "",
                    {
                        // options go here. See http://dygraphs.com/options.html
                        animatedZooms: false,
                        title: 'Workshop Loading Profile',
                        stackedGraph: false,
                        ylabel: 'Workshop Loading [%]',
                        xlabel: 'Date',
                        stepPlot: true,
                        fillGraph: true,
                        labelsSeparateLines: true,
                        includeZero: true,  // y-axis should start at 0
                        visibility: [true{%- for g in orderedGroups %}, false{%- endfor %}],
                        colors: ['blue' {%- for g in orderedGroups %}, 'blue'{%- endfor %}],
                        xRangePad: 20,
                        valueRange: [0,120],
                        axes: {
                            x: {
                                // Format values on axis
                                axisLabelFormatter: function(d) {
                                    return d3.timeFormat('{{ formatString['shortDate'] }}')(d);
                                },
                                valueFormatter: function (ms) {
                                    d = new Date(ms);
                                    return d3.timeFormat('{{ formatString['shortDate'] }}')(d);
                                }
                            }
                        }
                    }
                );
               
                // Bind change in control radio buttons to change of visible data
                $('#utilizationProfileChart').find('input[name=utilizationLine]').on('change', function() {
                    i = $('#utilizationProfileChart').find('input[name=utilizationLine]:checked').val();
                    // show the available and booked capacity for either the entire workshop (i=0) or a subgroup (i > 0)
                    numberOfLines = g.visibility().length;
                    // create output array
                    newVisibilityArray = [];
                    for(j = 0; j < numberOfLines; j++)
                        newVisibilityArray.push(false);
                    // set i'th line visible
                    newVisibilityArray[i] = true;
                    g.setVisibility(newVisibilityArray);
                });
            });
        </script>
    {% endif %}
{%- endmacro %}