{% extends 'layouts/main.html' %}
{% block title %}{% if (form_appointment_inbound == 'outbound') %} Add Pick-up Appointment {% else %} Add Drop-off Appointment {% endif %}{% endblock %}

{% assets
    filters="cssmin",
    output="gen/css_libs.css",
    "css/shopfloormanagement/index.css",
    "css/components/schedule.css",
    "css/components/schedule-events.css"
%}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            {% import 'macros/form.html' as form_macros with context %}
            {% if (form_appointment_inbound == 'outbound') %}
              {{ form_macros.render_form(form, heading='Add Pick-up Appointment', action_url=url_for('shopfloormanagement.addAppointment', jobNumber=form_job_id, inbound=form_appointment_inbound), action_text='Create Appointment') }}
            {% else %}
              {{ form_macros.render_form(form, heading='Add Drop-off Appointment', action_url=url_for('shopfloormanagement.addAppointment', jobNumber=form_job_id, inbound=form_appointment_inbound), action_text='Create Appointment') }}
            {% endif %}

            {% if (form_appointment_inbound =='inbound' and recommendedDropOffEnd is not none) %}
                <div class="well" style="margin-top:10px">
                    It is advised that the customer dialogue is completed by
                    <a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=form_job_id, inbound=form_appointment_inbound, startDate=recommendedDropOffEnd.date()) }}">{{ recommendedDropOffEnd.date() }}</a> {{ recommendedDropOffEnd.time() }}.
                </div>
            {% endif %}
            {% if (form_appointment_inbound == 'outbound' and recommendedPickUpStart is not none) %}
                <div class="well" style="margin-top:10px">
                    It is recommended that the pick-up appointment is scheduled after
                    <a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=form_job_id, inbound=form_appointment_inbound, startDate=recommendedPickUpStart.date()) }}">{{ recommendedPickUpStart.date() }}</a> {{ recommendedPickUpStart.time() }}.
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><a class="prevDayLink"><i class="glyphicon glyphicon-arrow-left"></i> <span class="prevDayString"></span></a></div>
        <div class="col-sm-4"><span class="dateSelector" style="border:none;"></span></div>
        <div class="col-sm-4 text-right"><a class="nextDayLink" class="pull-right"><span class="nextDayString"></span> <i class="glyphicon glyphicon-arrow-right"></i></a></div>
    </div>
    <div id="appointments"></div>
{% endblock %}

{% assets
    filters="jsmin",
    output="gen/js_index.js",
    "js/shopfloormanagement/appointment.add.js",
    "js/plugins/schedule-component.js",
    "js/shopfloormanagement/schedule/schedule-builder.js",
    "js/shopfloormanagement/schedule/appointment-schedule-builder.js",
    "js/shopfloormanagement/schedule/appointment-event-content-builder.js"
%}
<script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
{% endassets %}

{% block bottomJavaScript %}
    // define link function that takes the URL as parameter and adds the currently selected tab as hash to it before calling it
    function callWithCurrentTab(url) {
        // find current hash
        currentUrl = document.location.toString();
        if (currentUrl.match('#')) {
            h = '#' + currentUrl.split('#')[1];
        }
        else
            h = '';
        console.log(url);
        window.location.href = url + h;
    }

    // Store callback function for click event in schedule view
    $(document).ready(function(){
        // Store data in the Gantt HTML tag
        $('.cd-schedule').data(
            'dblClickCallback',
            function(time, resId, earliestStart, latestEnd) {
                // if time is close to earliest start time, use that
                if((time.getTime() - earliestStart.getTime()) <= 10*60*1000){ // less than 10 minutes
                    time = earliestStart;
                }
                // round time to nearest 15 minutes
                roundedTime = new Date(time.getTime()); // clone time Date object
                roundedTime.setMinutes(Math.round(time.getMinutes() / 15) * 15);
                // Set time to adjusted time, make sure it does not overlap go prior to earliest start point
                time = new Date(Math.max(earliestStart, roundedTime));

                // If the appointment duration is given, we can use that information
                if(!isNaN(parseInt($('#duration').val()))){
                    // if earliest start and latest end are too close, we have to adjust them
                    if((latestEnd.getTime() - earliestStart.getTime()) <= parseInt($('#duration').val())*60*1000) // We have to adjust duration to squeeze it in
                        $('#duration').val(Math.floor((latestEnd.getTime() - earliestStart.getTime())/60/1000));
                    // Move event start forward, if we are too close to the end
                    if((latestEnd.getTime() - time.getTime()) <= parseInt($('#duration').val())*60*1000) // not enough time to next event
                        time = new Date(latestEnd - parseInt($('#duration').val())*60000); // 60000 milliseconds in one minute
                }

                // Pre-Set form
                console.log(time);
                console.log(d3.utcFormat('{{ formatString['datetime'] }}')(time));
                $("#startDatetime").val(d3.utcFormat('{{ formatString['datetime'] }}')(time)).trigger('change');
                $("#user").val(resId).trigger('change');
                // scroll to top of form
                var aTag = $("a[name='top']");
                $('html,body').animate({scrollTop: aTag.offset().top},'slow');
            }
        );
    });

    // Fill start-date dependent links and instantiate date selectors
    $(document).ready(function(){
        urlTemplate = '{{ urlTemplate }}';
        urlTimeFormatter = d3.utcFormat(urlTemplate);
        textDateFormatter = d3.utcFormat('{{ formatString['date'] }}');
        startDate = d3.utcParse('%Y-%m-%d')('{{ startDate.strftime('%Y-%m-%d') }}');

        // Fill links and spans referring to yesterday and tomorrow
        yesterday = d3.timeDay.offset(startDate, -1);
        $(".prevDayLink").each(function(i, item) { $(this).attr('href', 'javascript:callWithCurrentTab(\'' + urlTimeFormatter(yesterday) + '\')'); });
        $(".prevDayString").each(function(i, item) { $(this).text(textDateFormatter(yesterday)); });
        tomorrow = d3.timeDay.offset(startDate, +1);
        $(".nextDayLink").each(function(i, item) { $(this).attr('href', 'javascript:callWithCurrentTab(\'' + urlTimeFormatter(tomorrow) + '\')'); });
        $(".nextDayString").each(function(i, item) { $(this).text(textDateFormatter(tomorrow)); });

        $(".dateSelector").each(function(i, item) {
            // add calendar field
            $(this).html('<div class=\"input-group date\"><input type=\"text\" class=\"form-control input-lg\" /><span class=\"input-group-addon\"><span class=\"fa fa-calendar\"></span></div>');
            // Instantiate datepicker
            datestring = pythonToMomentsDateFormatConversion('{{ formatString['date'] }}');
			$(this).find(".input-group").eq(0).datetimepicker({
				format: datestring,
				defaultDate: d3.utcParse('%Y-%m-%d')('{{ startDate.strftime('%Y-%m-%d') }}')
			});
            // Tie date-picker change to reload of page
            $(this).find(".input-group").eq(0).on('dp.change', function(e) {
                newDate = d3.utcParse('{{ formatString['date'] }}')($(this).find("input").val());
                callWithCurrentTab(urlTimeFormatter(newDate));
            });
        });
    });
{% endblock %}
