{% extends 'layouts/main.html' %}
{% block title %}Edit Job{% endblock %}
{% block content %}
<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-tasks" aria-hidden="true"></i> Job Card
            </div>
            <div class="panel-body">
              
                <div class="container col-sm-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input disabled="" value="{{ item.name }}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="telephoneNumber">Phone Number</label>
                        <div class="input-group">
                            <input disabled type="text" class="form-control" value="{{ item.telephoneNumber }}">
                            <span class="input-group-btn">
                                <a class="btn btn-default" role="button" href="tel:{{ item.telephoneNumber }}"><i class="glyphicon glyphicon-earphone"></i></a>
                                <!--<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-earphone"></i></button>-->
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="form-group">
                        <label for="carModel">Model Type Identifier</label>
                        <input disabled="" value="{{ item.carModel.modelType }}: {{item.carModel.name}}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="chassisNumber">VIN-Number</label>
                        <input disabled="" value="{{ item.chassisNumber }}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input disabled="" value="{{ item.year }}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="licensePlate">License Plate</label>
                        <input disabled="" value="{{ item.licensePlate }}" class="form-control" />
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="dropOffAppointment">Drop-Off Appointment</label>
                        {% if item.dropOffAppointment is none %}
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=item.id, inbound='inbound') }}" class="btn btn-default", id="dropOffAppointment">Schedule Appointment</a>
                            </div>
                        {% else %}
                            <div class="input-group">
                                {% if current_user.role in ['ServiceAdvisor', 'ServiceAssistant', 'Manager'] %}
                                    <span class="input-group-btn">
                                        {% if not item.dropOffAppointment.prepared %}
                                            <a class="btn btn-danger" role="button" href="{{ url_for('shopfloormanagement.prepareAppointment', appointmentNumber=item.dropOffAppointment.id) }}"><i class="fa fa-square-o"></i></a>
                                        {% else %}
                                            <a class="btn btn-success" role="button" href="#"><i class="fa fa-check-square-o"></i></a>
                                        {% endif %}
                                    </span>
                                {% endif %}
                                <input disabled="" value="{{ item.dropOffAppointment.startDatetime.strftime(formatString['datetime']) }} ({{ item.dropOffAppointment.user.name }})" class="form-control" id="dropOffAppointment" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=item.id, inbound='inbound') }}">Change</a></li>
                                        {% if item.releaseDatetime == None  %}
                                        <li><a href="{{ url_for('shopfloormanagement.deleteAppointment', appointmentNumber=item.dropOffAppointment.id)}}">Remove</a></li>
                                        {% else %} 
                                        <li><p>*Can't remove after release</p></li> 
                                        {% endif %} 
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="releaseDatetime">Job Release</label>
                        {% if (item.jobStatus == 1 and current_user.role in ['Manager', 'ServiceAdvisor', 'ServiceAssistant']) %}
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-primary" href="{{ url_for('shopfloormanagement.releaseJob', jobNumber=item.id) }}"><i class="glyphicon glyphicon-send" aria-hidden="true"></i> Release Job</a>
                            </div>
                        {% elif item.releaseDatetime is not none %}
                            <input disabled="" value="{{ item.releaseDatetime.strftime(formatString['datetime']) }}" class="form-control" id="releaseDatetime" /> 
                        {% else %}
                            <input disabled="" value="Job yet to be released" class="form-control" id="releaseDatetime" /> 
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="qualityCheckDatetime">Quality Check</label>
                        {% if (item.jobStatus == 3 and current_user.qualityInspector) %}
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-success" href="{{ url_for('shopfloormanagement.qualityCheckJob', jobNumber=item.id) }}"><i class="fa fa-check-square" aria-hidden="true"></i> Confirm Quality</a>
                            </div>
                        {% elif item.qualityCheckDatetime is not none %}
                            <input disabled="" value="{{ item.qualityCheckDatetime.strftime(formatString['datetime']) }} ({{ item.qualityCheckUser.name}})" class="form-control" id="qualityCheckDatetime" /> 
                        {% else %}
                            <input disabled="" value="Awaiting Quality Check" class="form-control" id="releaseDatetime" /> 
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="releaseDatetime">Job Completion</label>
                        {% if (item.jobStatus == 4 and current_user.role in ['Manager', 'ServiceAdvisor', 'ServiceAssistant']) %}
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-success" href="{{ url_for('shopfloormanagement.completeJob', jobNumber=item.id) }}"><i class="fa fa-flag-checkered " aria-hidden="true"></i> Job Completed</a>
                            </div>
                        {% elif item.completionDatetime is not none %}
                            <input disabled="" value="{{ item.completionDatetime.strftime(formatString['datetime']) }}" class="form-control" id="releaseDatetime" /> 
                        {% else %}
                            <input disabled="" value="{% if item.expectedCompletionDatetime is not none %}expected: {{ item.expectedCompletionDatetime.strftime(formatString['datetime']) }}{% else %}Job completion outstanding{% endif %}" class="form-control" id="releaseDatetime" /> 
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="pickUpAppointment">Pick-Up Appointment</label>
                        {% if item.pickUpAppointment is none %}
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=item.id, inbound='outbound') }}" class="btn btn-default", id="pickUpAppointment">Schedule Appointment</a>
                            </div>
                        {% else %}
                            <div class="input-group">
                                <input disabled="" value="{{ item.pickUpAppointment.startDatetime.strftime(formatString['datetime']) }} ({{ item.pickUpAppointment.user.name }})" class="form-control" id="pickUpAppointment" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{{ url_for('shopfloormanagement.addAppointment', jobNumber=item.id, inbound='outbound') }}">Change</a></li>
                                        {% if item.releaseDatetime == None  %}
                                        <li><a href="{{ url_for('shopfloormanagement.deleteAppointment', jobNumber=item.id, appointmentNumber=item.pickUpAppointment.id) }}">Remove</a></li>
                                        {% else %} 
                                        <li><p>*Can't remove after release</p></li> 
                                        {% endif %} 
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="returnDatetime">Job Return</label>
                        {% if (item.jobStatus == 5 and current_user.role in ['Manager', 'ServiceAdvisor', 'ServiceAssistant']) %}
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-success" href="{{ url_for('shopfloormanagement.returnJob', jobNumber=item.id) }}"><i class="fa fa-level-up " aria-hidden="true"></i> Return Vehicle to Customer</a>
                            </div>
                        {% elif item.returnDatetime is not none %}
                            <input disabled="" value="{{ item.returnDatetime.strftime(formatString['datetime']) }}" class="form-control" id="returnDatetime" /> 
                        {% else %}
                            <input disabled="" value="Vehicle not returned to customer yet" class="form-control" id="returnDatetime" /> 
                        {% endif %}
                    </div>
                </div>
                <div class="container col-sm-8">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#operations" aria-controls="operations" role="tab" data-toggle="tab"><i class="fa fa-wrench" aria-hidden="true"></i> Operations</a></li>
                            <li role="presentation"><a href="#patches" aria-controls="patches" role="tab" data-toggle="tab"><i class="fa fa-calendar-check-o"></i> Work-Schedule</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="operations">
                                
                                <table class="table table-striped">
                                    <thead>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Work Content
                                        </th>
                                        <th>
                                            Progress
                                        </th>
                                        <th>
                                            
                                        </th>
                                    </thead>
                                    <tbody data-toggle="fieldset" id="planTimesFieldSet">
                                        {% for op in item.operations %}
                                            <tr data-toggle="fieldset-entry">
                                                <td>{{op.position}}</td>
                                                <td><b>{{ op.description }}</b></td>
                                                <td style="text-align:right;">{{ op.workContent }} TU</td>
                                                <td style="text-align:center">
                                                    {{ op.shareCompleted*100|round|int }} %
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ op.shareCompleted*100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ op.shareCompleted*100 }}%">
                                                            <span class="sr-only">{{ op.shareCompleted*100|round|int }}% Complete</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    {% if (current_user.role in ['ServiceAssistant', 'ServiceAdvisor', 'Manager'] and op.shareCompleted == 0) %}
                                                        <a href="{{ url_for('shopfloormanagement.editOperation', operationNumber=op.id) }}" title="Edit Operation">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="#" data-href="{{ url_for('shopfloormanagement.deleteOperation', operationNumber=op.id) }}" title="Delete Operation" data-toggle="modal" data-target="#confirm-delete">
                                                            <span class="text-danger"><i class="fa fa-trash deleteLink" aria-hidden="true"></i></span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td style="text-align:right;">Total:</td>
                                            <td style="border-top:1px solid black;text-align:right;">{{ item.totalWorkContent }} TU</td>
                                            <td style="text-align:center">
                                                {{ (item.shareCompleted*100)|round|int }} %
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.shareCompleted*100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ item.shareCompleted*100 }}%">
                                                        <span class="sr-only">{{ (item.shareCompleted*100)|round|int }}% Complete</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    {% if (current_user.role in ['ServiceAssistant', 'ServiceAdvisor', 'Manager'] and item.completionDatetime is none) %}
                                        <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addEntryModal"><i class="glyphicon glyphicon-plus"></i> Add Entry</button>
                                                    <!-- Alternative implementation that does not save immediately presented at https://gist.github.com/kageurufu/6813878 -->
                                                </td>
                                            </tr>
                                        </tfoot>
                                    {% endif %}
                                    
                                </table>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="patches">
                                <table class="table table-striped tablesorter">
                                    <thead>
                                        <th>Operation</th>
                                        <th class="sorter-pythonDatetime">Start</th>
                                        <th class="sorter-pythonDatetime">End</th>
                                        <th class="filter-select">Technician</th>
                                        <th class="filter-select">Machine</th>
                                        <th class="filter-select">Status</th>
                                        <th class="filter-false sorter-false">Actions</th>
                                    </thead>
                                    <tbody>
                                        {% for op in item.operations %}
                                            {% for p in op.patches %}
                                                {# Set proper class based on status of patch and set start and endtimes to use #}
                                                {% if p.endDatetime is none %}
                                                    {% set endDatetime = p.planEndDatetime %}
                                                    {% if p.startDatetime is none %}
                                                        {% set startDatetime = p.planStartDatetime %}
                                                        {% set class = 'scheduled' %}
                                                    {% else %}
                                                        {% set startDatetime = p.startDatetime %}
                                                        {% set class = 'inprocess' %}
                                                    {% endif %}
                                                {% else %}
                                                    {% set startDatetime = p.startDatetime %}
                                                    {% set endDatetime = p.endDatetime %}
                                                    {% set class = 'completed' %}
                                                {% endif %}
                                                <tr>
                                                    <td>
                                                        {{ op.description }}
                                                    </td>
                                                    <td>
                                                        {{ startDatetime.strftime(formatString['datetime']) }}
                                                    </td>
                                                    <td>
                                                        {{ endDatetime.strftime(formatString['datetime']) }}
                                                    </td>
                                                    <td class="technicians" patchid="{{p.id}}" value="{{p.user_id}}">{{ p.user.name }}</td>
                                                    <td class="machines" patchid="{{p.id}}" value="{{p.machine_id}}">{{ p.machine.name }}</td>
                                                    <td>
                                                        {{ class }}
                                                    </td>
                                                    <td class="actions" patchid="{{p.id}}" >
                                                        {# if patch is purely scheduled, job currently not busy, and operation not waiting on material, give opportunity to start working #}
                                                        {% if ((item.releaseDatetime is not none and p.operation.predecessorsFinished() and class != 'completed' and current_user.role in ['Manager', 'Technician']) and item.currentPatch is none and class == 'scheduled' and (current_user.role == 'Manager' or current_user.current_patch is none) and (p.operation.restartAfterDatetime is none or p.operation.restartAfterDatetime <= currentDatetime)) %}
                                                            <a href="{{ url_for('shopfloormanagement.startPatchNow', patchNumber = p.id, operationNumber = p.operation.id, userNumber = p.user.id, machineNumber = p.machine.id) }}" title="Start working operation">
                                                                <i class="fa fa-play" aria-hidden="true"></i>
                                                            </a>
                                                        {% elif (class == 'inprocess' and (current_user.role == 'Manager' or p.user == current_user)) %}
                                                            <a href="{{ url_for('shopfloormanagement.endPatchNow', patchNumber = p.id) }}">
                                                                <i class="fa fa-stop" aria-hidden="true"></i>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if item.expectedCompletionDatetime is not none %}
                            <div class="well well-sm">Expected completion time: {{ item.expectedCompletionDatetime.strftime(formatString['datetime']) }}</div>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4" style="align-content: center"><span class="dateSelector" style="border:none;"></span></div>
                        </div>
                        <div class="row">
                        {% import 'macros/capacityProfileChart.html' as capChart with context %}
                        {{ capChart.capacityProfileChart(capacityProfile) }}
                    </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a class="btn btn-default" href="{{ url_for('shopfloormanagement.index') }}">Back to Shopfloor Overview</a>
                {% if (current_user.role in ['ServiceAssistant', 'ServiceAdvisor', 'Manager'] and item.shareCompleted == 0 and item.currentPatch is none) %}
                    <a href="#" data-href="{{ url_for('shopfloormanagement.deleteJob', jobNumber=item.id) }}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger pull-right"><i class="fa fa-trash deleteLink" aria-hidden="true"></i> Delete Job</a>
                {% endif %}
            </div>
    </div>
</div>
    

{% assets
    filters="jsmin",
    output="gen/js_job.edit.js",
    "js/shopfloormanagement/job.edit.js",
    "js/plugins/select-modifier-component.js"
%}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
{% endassets %}

{% import 'macros/form.html' as form_macros with context %}
{{ 
    form_macros.render_form_modal(
        entryAddForm,
        heading='Add Operation',
        modalId='addEntryModal',
        action_url=url_for('shopfloormanagement.addOperationToJob', jobNumber=item.id),
        action_text='Save'
    )
}}
{% endblock %}

{% block bottomJavaScript %}
// Fill start-date dependent links and instantiate date selectors
    let currentUserRole = '{{ current_user.role }}';
    $(document).ready(function(){
        urlTemplate = '{{ urlTemplate }}';
        urlTimeFormatter = d3.utcFormat(urlTemplate);
        textDateFormatter = d3.utcFormat('{{ formatString['date'] }}');
        startDate = d3.utcParse('%Y-%m-%d')('{{ startDate.strftime('%Y-%m-%d') }}');
        
        // Fill links and spans referring to yesterday and tomorrow
        yesterday = d3.timeDay.offset(startDate, -1);
        $(".prevDayLink").each(function(i, item) { $(this).attr('href', 'javascript:callWithCurrentTab(\'' + urlTimeFormatter(yesterday) + '\')'); });
        $(".prevDayString").each(function(i, item) { $(this).text(textDateFormatter(yesterday)); });
        tomorrow = d3.timeDay.offset(startDate, +1);
        $(".nextDayLink").each(function(i, item) { $(this).attr('href', 'javascript:callWithCurrentTab(\'' + urlTimeFormatter(tomorrow) + '\')'); });
        $(".nextDayString").each(function(i, item) { $(this).text(textDateFormatter(tomorrow)); });
        
        $(".dateSelector").each(function(i, item) {
            // add calendar field
            $(this).html('<div class=\"input-group date\"><input type=\"text\" class=\"form-control input-lg\" /><span class=\"input-group-addon\"><span class=\"fa fa-calendar\"></span></div>');
            // Instantiate datepicker
            datestring = pythonToMomentsDateFormatConversion('{{ formatString['date'] }}');
			$(this).find(".input-group").eq(0).datetimepicker({
				format: datestring,
				defaultDate: d3.utcParse('%Y-%m-%d')('{{ startDate.strftime('%Y-%m-%d') }}')
			});
            // Tie date-picker change to reload of page
            $(this).find(".input-group").eq(0).on('dp.change', function(e) {
                newDate = d3.utcParse('{{ formatString['date'] }}')($(this).find("input").val());
                window.location.href = urlTimeFormatter(newDate);
            });
        });
    });
{%endblock%}