{% extends 'layouts/main.html' %}
{% block title %}Search Jobs{% endblock %}
{% block content %}
<div class="row">
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-search" aria-hidden="true"></i> Job Search
            </div>
            <div class="panel-body">
              
                <div class="container col-sm-4">
                    {% import 'macros/form.html' as form_macros with context %}
                    {{ form_macros.render_form(form, action_url=url_for('shopfloormanagement.searchJobs'), action_text='Search') }}
                </div>
                <div class="container col-sm-8">
                    {% if jobs|length > 0 %}
                        <table class="table table-striped table-hover tablesorter">
                            <thead>
                                <th>Name</th>
                                <th>Vehicle Model</th>
                                <th>Status</th>
                                <th style="text-align:center" class="filter-false sorter-false">
                                    Actions
                                </th>
                            </thead>
                            <tbody>
                                {% import 'macros/jobStatus.html' as jobStatus with context %}
                                {% for j in jobs %}
                                    <tr>
                                        <td>{{j.name}}</td>
                                        <td>{{ j.carModel.name }}</td>
                                        <td>{{ jobStatus.jobStatus(j) }}</td>
                                        <td>
                                            <a href="{{ url_for('shopfloormanagement.editJob', jobNumber=j.id) }}">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <center><i>No jobs to show here</i></center>
                    {% endif %}
                </div>
            </div>
            <div class="panel-footer">
                <a class="btn btn-default" href="{{ url_for('shopfloormanagement.index') }}">Back to Shopfloor Overview</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
