{% extends 'layouts/main.html' %}
{% block title %}Add Job{% endblock %}
{% block content %}
<div class="row">
	<div class="container col-md-6 col-md-offset-3">
        {% import 'macros/form.html' as form_macros with context %}
        {{ form_macros.render_form_panel(form, heading='Add Job', action_url=url_for('shopfloormanagement.addJob', year=year), action_text='Save', panel_icon_class='fa fa-tasks') }}
	</div>
</div>

{% assets
    filters="jsmin",
    output="gen/js_job.add.js",
    "js/shopfloormanagement/job.add.js"
%}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
{% endassets %}

 {% for field in form.errors %}
	{% for error in form.errors[field] %}
		<div class="alert alert-error">
			<strong>Error!</strong>{{field}}: {{error}}
		</div>
	{% endfor %}
{% endfor %}
  
{% endblock %}
