{% extends 'layouts/main.html' %}
{% block title %}Edit Operation{% endblock %}
{% block content %}
<div class="row">
	<div class="container col-md-6 col-md-offset-3">
        {% import 'macros/form.html' as form_macros with context %}
        {{
            form_macros.render_form_panel(
                form,
                heading='Edit Operation',
                action_url=url_for('shopfloormanagement.editOperation', operationNumber=operationNumber),
                action_text='Edit',
                panel_icon_class='fa fa-wrench'
            )
        }}
    </div>

</div>  
{% endblock %}
