{% extends 'layouts/main.html' %}
{% block title %}Add Patch{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <table class="table table-striped">
            <thead>
                <th>Property</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Job</td><td>{{ patch.operation.job.name }}</td>
                </tr>
                <tr>
                    <td>Operation</td>
                    <td>
                        <b>{{ patch.operation.description }}</b>
                    </td>
                </tr>
                <tr>
                    <td>Work Content:</td>
                    <td>{{ patch.operation.outstandingWorkContent}} (out of {{ patch.operation.workContent }}) TU</td>
                </tr>
            </tbody>
        </table>
        {% if (patch.operation.restartAfterDatetime is not none and patch.operation.restartAfterDatetime >= currentDatetime) %}
            <div class="well">
                This operation is currently marked as waiting (e.g. for material). Please check that you can proceed with this operation before submitting this form!
            </div>
        {% endif %}
        {% import 'macros/form.html' as form_macros with context %}
        {{
            form_macros.render_form_panel(
                form,
                heading='Start work on Operation',
                action_url=url_for(
                    'shopfloormanagement.startPatchNow',
                    patchNumber = form_patch_id,
                    operationNumber = form_operation_id,
                    userNumber = form_user_id,
                    machineNumber = form_machine_id
                ),
                action_text='Start'
            )
        }}
	</div>
</div> 
{% endblock %}
