{% extends 'layouts/main.html' %}
{% block title %}Add Patch{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        {% import 'macros/form.html' as form_macros with context %}
        {{ form_macros.render_form_panel(form, heading='Report back work on Operation', action_url=url_for('shopfloormanagement.endPatchNow', patchNumber = form_patch_id), action_text='Save') }}
	</div>
</div> 
{% endblock %}
