{% extends 'layouts/main.html' %}
{% block title %}Edit Calendar Subscription{% endblock %}
{% block content %}
<div class="row">
	<div class="container col-md-6 col-md-offset-3">
        <div class="panel-body">
            <div class="well">
                Note that editing calendar subscriptions is restricted. You are not allowed to make changes that alter subscriptions for the past.
            </div>
            {% import 'macros/form.html' as form_macros with context %}
            {{ 
                form_macros.render_form_panel(
                    form,
                    heading='Edit Calendar Subscription',
                    action_url=url_for('usermanagement.editCalendarSubscription', userNumber=form_user_id, subscriptionNumber=form_subscription_id),
                    action_text='Save',
                    panel_icon_class='fa fa-calendar'
                )
            }}
        </div>
	</div>
</div>  
{% endblock %}
