{% extends 'layouts/main.html' %}
{% block title %}Add Calendar Subscription{% endblock %}
{% block content %}
<div class="row">
	<div class="container col-md-6 col-md-offset-3">
        <div class="panel-body">
            {% import 'macros/form.html' as form_macros with context %}
            {{ 
                form_macros.render_form_panel(
                    form,
                    heading='Subscribe User to Calendar',
                    action_url=url_for('usermanagement.addCalendarSubscription', userNumber=form_user_id),
                    action_text='Save',
                    panel_icon_class='fa fa-calendar'
                )
            }}
        </div>
	</div>
</div>  
{% endblock %}
