{% extends 'layouts/main.html' %}
{% block title %}Add Technician Group{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        {% import 'macros/form.html' as form_macros %}
        {{ form_macros.render_form_panel(form, heading='Add Group', action_url=url_for('usermanagement.addGroup'), action_text='Save', panel_icon_class='fa fa-users') }}
	</div>
</div> 
{% endblock %}
