{% extends 'layouts/main.html' %}
{% block title %}Edit Account{% endblock %}
{% block content %}
<div class="row">
	<div class="container col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user"></i> Edit User
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    {% import 'macros/form.html' as form_macros with context %}
                    {{ 
                        form_macros.render_form(
                            form,
                            heading='User Details',
                            action_url=url_for('usermanagement.edit', userNumber=form_user_id),
                            action_text='Save'
                        )
                    }}
                </div>
                <div class="col-sm-6">
                    <h3>Calendar Subscriptions</h3>
                    <table class="table table-striped"> 
                        <thead>
                            <th>From</th>
                            <th>Until</th>
                            <th>Calendar</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            {% for s in user.calendarSubscriptions %}
                                <tr>
                                    <td>{{ s.startDate.strftime(formatString['date']) }}</td>
                                    <td>
                                        {% if s.endDate is not none %}
                                            {{ s.endDate.strftime(formatString['date']) }}
                                        {% endif %}
                                    </td>
                                    <td>{{ s.calendar.name }}</td>
                                    <td>
                                        <a href="{{ url_for('usermanagement.editCalendarSubscription', userNumber=form_user_id, subscriptionNumber=s.id) }}" title="Edit Subscription">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                    {# Add Entry Form #}
                    {{ 
                        form_macros.render_form_modal(
                            calendarSubscriptionForm,
                            heading='Add Calendar Subscription',
                            modalId='SubscriptionAddForm',
                            action_url=url_for('usermanagement.addCalendarSubscription', userNumber=form_user_id),
                            action_text='Add'
                        )
                    }}
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#SubscriptionAddForm"><i class="fa fa-plus"></i> Add Entry</button>
                    <h3>Calendar Entries</h3>
                    <table class="table table-striped"> 
                        <thead>
                            <th>From</th>
                            <th>Until</th>
                            <th>Type</th>
                        </thead>
                        <tbody>
                            {% for s in user.calendarEntries %}
                                <tr>
                                    <td>{{ s.startDatetime.strftime(formatString['datetime']) }}</td>
                                    <td>
                                        {{ s.endDatetime.strftime(formatString['datetime']) }}
                                    </td>
                                    <td>{% if s.present %}Presence{% else %}Absence{% endif %}</td>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                    {% if current_user.role == 'Manager' %}
                        {# Add Entry Form #}
                        {{ 
                            form_macros.render_form_modal(
                                calendarEntryAddForm,
                                heading='Add Calendar Entry',
                                modalId='EntryAddForm',
                                action_url=url_for('calendarmanagement.addCalendarEntry'),
                                action_text='Add'
                            )
                        }}
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#EntryAddForm"><i class="fa fa-plus"></i> Add Entry</button>
                    {% endif %}
                </div>
            </div>
        </div>
	</div>
</div>  
{% endblock %}
