/* Timeline */

.schedule .timeline-wrapper {
  padding: 0;
  overflow-x: hidden;
}

.schedule .timeline {
  display: inline-block;
}

.schedule .timeline ul {
  list-style: none;
  white-space: nowrap;
  padding-left: 0;
}

.schedule .timeline ul li {
  display: inline-block;
}

/* Availabilities */

.schedule .schedule-content .availabilities-for-subject {
  margin-top: 1px;
}

.schedule .schedule-content .availability {
  background-color: rgba(200, 200, 200, 0.4);
  display: inline-block;
}

/* Schedule container */

.schedule .schedule-content {
  overflow-x: scroll;
  padding: 0;
}

.schedule .schedule-container {
  overflow-y: auto;
}

/* subjects */

.schedule .subject {
  margin-top: 1px;
  text-align: center;
  border: 1px dashed lightgray;
}
.schedule .subject > div > span {
  display: inline-block;
  vertical-align: middle;
}

/* Events */

.schedule .event {
  display: inherit;
  cursor: pointer;
  background-color: rgb(221, 235, 170);
  outline: 1px solid grey;

  border-color: rgba(200, 200, 200, 0.4);
}

/* 'Now' line */

.schedule .now-line {
  padding: 0;
  position: absolute;
  outline: 1px dashed #337ab7;
  height: 100%;
  z-index: 10;
}

/* 'Hour' line */

.schedule .hour-line {
  padding: 0;
  position: absolute;
  outline: 1px solid rgba(233, 233, 233, 0.4);
  height: 100%;
}
