.schedule .event.scheduled {
  background-color: rgba(243, 226, 138, 0.6);
}

.schedule .event.completed {
  background-color: rgba(223, 240, 216, 0.6);
}

.schedule .event.inprocess {
  background-color: rgba(242, 222, 222, 0.6);
}

.schedule .event.unreleased {
  opacity: 0.4;
}

.schedule .event.prepared {
  background-color: #d6e9c6;
}
.schedule .event.unprepared {
  background-color: #ebccd1;
}
